---
layout: main
title: Downloads
subtitle: Time to get started.
permalink: /downloads/
---
<div class = "container section-spacer">
	<div class = "row row-spacer">
		<div class = "col-xl-2">
			<div class = "nav flex-column nav-pills downloads-list" id = "v-pills-tab" role = "tablist" aria-orientation = "vertical">

				{% for download in site.data.downloads %}

				<a class = "nav-link {{download.nav-class}}" id = "{{download.id}}-tab" data-toggle = "pill" href = "#{{download.id}}" role = "tab"
						aria-controls = "{{download.id}}"
						aria-selected = "true">{{download.name}}</a>

				{% endfor %}

			</div>
		</div>

		<div class = "col-xl-10">
			<div class = "tab-content downloads-wrapper" id = "v-pills-tabContent">

				{% for download in site.data.downloads %}

				<div class = "tab-pane fade {{download.tab-class}}" id = "{{download.id}}" role = "tabpanel" aria-labelledby = "{{download.id}}-tab">

					<div class = "downloads-header-wrapper">
						<div class = "downloads-left-info-wrapper">
							<h3 class = "downloads-header">{{download.name}}</h3>
							<h5 class = "downloads-header">Version: {{download.version}}</h5>
						</div>
						<div class = "downloads-right-info-wrapper">
							<span class = "downloads-right-info-header">{{download.system}}</span>
							<span class = "downloads-right-info-header">{{download.date}}</span>
						</div>
					</div>
					<hr>

					<p>{{download.description}}</p>

					<div class = "row">
						<div class = "col-xl-6">

							{% for left-item in download.left-panel %}

							<h5>{{left-item.header}}</h5>
							<p>{{left-item.text}}</p>

							{% endfor %}

						</div>
						<div class = "col-xl-6">

							<h5 class = "download-links">Available Downloads</h5>

							<table class = "table table-striped">
								<thead>
								<tr>
									<th width = "30%">Type</th>
									<th>Link</th>
								</tr>
								</thead>

								<tbody>

								{% for right-item in download.right-panel %}

								<tr>
									<td>{{right-item.type}}</td>
									<td><a href = "{{right-item.link}}" target = "_blank" rel = "noopener">Download</a></td>
								</tr>

								{% endfor %}

								</tbody>
							</table>

						</div>
					</div>

					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</div>