& {
  --button-danger: #00ADAD;
  --button-danger-border: #F4F1E8;
  --button-danger-hover: #058989;
  --button-danger-text: #FEF0E3;
  --button-primary: #C47D09;
  --button-primary-border: #F4F1E8;
  --button-primary-hover: #9B4C00;
  --button-primary-text: #FEF0E3;
  --button-secondary: #CEC6B9;
  --button-secondary-border: #F4F1E8;
  --button-secondary-hover: #BFB5A6;
  --button-secondary-text: #30271C;
  --header-background: #E6E0D3;
  --header-icon: #30271C;
  --header-icon-primary: #C47D09;
  --header-text: #30271C;
  --header-text-important: #F93D8F;
  --header-user-background: #C47D09;
  --header-user-text: #FEF0E3;
  --panel-background: #E6E0D3;
  --panel-background-alt: #E8E3D7;
  --panel-background-selected-row: #DBCEB7;
  --panel-background-overlay: #DED0C2E5;
  --panel-background-poster-overlay: #DED0C2E5;
  --panel-background-transparent: #E6E0D3A6;
  --panel-border: #F4F1E8;
  --panel-icon: #30271C;
  --panel-icon-action: #C47D09;
  --panel-icon-danger: #00ADAD;
  --panel-icon-important: #F93D8F;
  --panel-icon-warning: #0E3BF0;
  --panel-input: #EDE7DC;
  --panel-menu-item-background: #F0CAA5;
  --panel-menu-item-background-hover: #D7C19E;
  --panel-menu-item-text: #562A00;
  --panel-table-header: #F2EBE0;
  --panel-tags: #C0B89D;
  --panel-text: #30271C;
  --panel-text-danger: #00ADAD;
  --panel-text-important: #F93D8F;
  --panel-text-other: #538D0A;
  --panel-text-primary: #C47D09;
  --panel-text-warning: #0E3BF0;
  --panel-toggle-background: #F0CAA5;
  --panel-toggle-background-alt: #9175591A;
  --panel-toggle-background-hover: #D7C19E;
  --panel-toggle-text: #562A00;
  --panel-toggle-text-alt: #30271C;
  --slider-background: #F4F1E8;
  --slider-background-alt: #E8E3D7;
  --slider-color: #C47D09;
  --slider-color-alt: #C47D09;
  --topnav-background: #EFE8DC;
  --topnav-border: #F4F1E8;
  --topnav-icon: #30271C;
  --topnav-icon-important: #F93D8F;
  --topnav-icon-primary: #30271C;
  --topnav-icon-warning: #0E3BF0;
  --topnav-text: #30271C;
  --topnav-text-primary: #C47D09;
  --logo-outline:#000000;
  --logo-skin:#eea47b;
  --logo-face-shadow:#925648;
  --logo-eye-ref1:#fafcf9;
  --logo-eye-ref2:#efeefa;
  --logo-eye-ref3:#f8e8ff;
  --logo-eye-gradient1:#514271;
  --logo-eye-gradient2:#c98ccb;
  --logo-eye-gradient3:#f9c2ff;
  --logo-hair-gradient1:#b8977f;
  --logo-hair-gradient2:#eddeaf;
  --logo-hair-gradient3:#ece1b8;
}