& {
  --button-danger: #FF5252;
  --button-danger-border: #0B0E17;
  --button-danger-hover: #fa7676;
  --button-danger-text: #010f1c;
  --button-primary: #333;
  --button-primary-border: #333;
  --button-primary-hover: #222;
  --button-primary-text: rgb(150, 179, 150);
  --button-secondary: #333;
  --button-secondary-border: #333;
  --button-secondary-hover: #222;
  --button-secondary-text: rgb(150, 179, 150);
  --header-background: #111;
  --header-icon: #cfd8e3;
  --header-icon-primary: #de7272;
  --header-text: rgb(150, 179, 150);
  --header-text-important: #06C270;
  --header-user-background: #3B82F6;
  --header-user-text: #010f1c;
  --panel-background: #222;
  --panel-background-alt: #111;
  --panel-background-selected-row: rgb(51, 51, 51);
  --panel-background-overlay: #212f3de5;
  --panel-background-poster-overlay: #212f3de5;
  --panel-background-transparent: #222222a6;
  --panel-border: #0B0E17;
  --panel-icon: #cfd8e3;
  --panel-icon-action: rgb(150, 179, 150);
  --panel-icon-danger: #FF5252;
  --panel-icon-important: #06C270;
  --panel-icon-warning: #F1C40F;
  --panel-input: #111;
  --panel-menu-item-background: #333;
  --panel-menu-item-background-hover: #333;
  --panel-menu-item-text: #de7272;
  --panel-table-header: #111;
  --panel-tags: #3f4762;
  --panel-text: #cfd8e3;
  --panel-text-danger: #FF5252;
  --panel-text-important: #06C270;
  --panel-text-other: #AC72F5;
  --panel-text-primary: #de7272;
  --panel-text-warning: #F1C40F;
  --panel-toggle-background: #444;
  --panel-toggle-background-alt: #333;
  --panel-toggle-background-hover: #444;
  --panel-toggle-text: #de7272;
  --panel-toggle-text-alt: rgb(150, 179, 150);
  --slider-background: #0B0E17;
  --slider-background-alt: #171C28;
  --slider-color: rgb(150, 179, 150);
  --slider-color-alt: rgb(150, 179, 150);
  --topnav-background: #333;
  --topnav-border: #0B0E17;
  --topnav-icon: rgb(150, 179, 150);
  --topnav-icon-important: #06C270;
  --topnav-icon-primary: #de7272;
  --topnav-icon-warning: #F1C40F;
  --topnav-text: rgb(150, 179, 150);
  --topnav-text-primary: #de7272;
  --logo-outline: #000;
  --logo-skin: #fdf5e8;
  --logo-face-shadow: #fe514d;
  --logo-eye-ref1: #e3e4d6;
  --logo-eye-ref2: #e8c8bb;
  --logo-eye-ref3: #ffc2b2;
  --logo-eye-gradient1: #ae303b;
  --logo-eye-gradient2: #ec4050;
  --logo-eye-gradient3: #fd877d;
  --logo-hair-gradient1: #c33144;
  --logo-hair-gradient2: #6b8cdb;
  --logo-hair-gradient3: #79f0f8;
}
