& {
  --button-danger: #FF5252;
  --button-danger-border: #0B0E17;
  --button-danger-hover: #fa7676;
  --button-danger-text: #010f1c;
  --button-primary: #3B82F6;
  --button-primary-border: #0B0E17;
  --button-primary-hover: #64b3ff;
  --button-primary-text: #010f1c;
  --button-secondary: #313946;
  --button-secondary-border: #0B0E17;
  --button-secondary-hover: #404a59;
  --button-secondary-text: #cfd8e3;
  --header-background: #191F2C;
  --header-icon: #cfd8e3;
  --header-icon-primary: #3B82F6;
  --header-text: #cfd8e3;
  --header-text-important: #06C270;
  --header-user-background: #3B82F6;
  --header-user-text: #010f1c;
  --panel-background: #191F2C;
  --panel-background-alt: #171C28;
  --panel-background-selected-row: #243148;
  --panel-background-overlay: #212f3de5;
  --panel-background-poster-overlay: #212f3de5;
  --panel-background-transparent: #191F2Ca6;
  --panel-border: #0B0E17;
  --panel-icon: #cfd8e3;
  --panel-icon-action: #3B82F6;
  --panel-icon-danger: #FF5252;
  --panel-icon-important: #06C270;
  --panel-icon-warning: #F1C40F;
  --panel-input: #121823;
  --panel-menu-item-background: #0f355a;
  --panel-menu-item-background-hover: #283e61;
  --panel-menu-item-text: #a9d5ff;
  --panel-table-header: #0d141f;
  --panel-tags: #3f4762;
  --panel-text: #cfd8e3;
  --panel-text-danger: #FF5252;
  --panel-text-important: #06C270;
  --panel-text-other: #AC72F5;
  --panel-text-primary: #3B82F6;
  --panel-text-warning: #F1C40F;
  --panel-toggle-background: #0f355a;
  --panel-toggle-background-alt: #6e8aa61a;
  --panel-toggle-background-hover: #283e61;
  --panel-toggle-text: #a9d5ff;
  --panel-toggle-text-alt: #cfd8e3;
  --slider-background: #0B0E17;
  --slider-background-alt: #171C28;
  --slider-color: #3B82F6;
  --slider-color-alt: #3B82F6;
  --topnav-background: #101723;
  --topnav-border: #0B0E17;
  --topnav-icon: #cfd8e3;
  --topnav-icon-important: #06C270;
  --topnav-icon-primary: #cfd8e3;
  --topnav-icon-warning: #F1C40F;
  --topnav-text: #cfd8e3;
  --topnav-text-primary: #3B82F6;
  --logo-outline: #000;
  --logo-skin: #fdf5e8;
  --logo-face-shadow: #fe514d;
  --logo-eye-ref1: #e3e4d6;
  --logo-eye-ref2: #e8c8bb;
  --logo-eye-ref3: #ffc2b2;
  --logo-eye-gradient1: #ae303b;
  --logo-eye-gradient2: #ec4050;
  --logo-eye-gradient3: #fd877d;
  --logo-hair-gradient1: #c33144;
  --logo-hair-gradient2: #6b8cdb;
  --logo-hair-gradient3: #79f0f8;
}
