Options +FollowSymLinks
RewriteEngine On

Redirect 301 /beta https://shokoanime.com/downloads/
Redirect 301 /contribute https://shokoanime.com/
Redirect 301 /comments/feed https://shokoanime.com/feed.json
Redirect 301 /feed https://shokoanime.com/feed.json
Redirect 301 /team https://shokoanime.com/about/
Redirect 301 /translate https://shokoanime.com/
Redirect 301 /translate https://shokoanime.com/

Redirect 301 /my-anime-3 https://shokoanime.com/downloads/
Redirect 301 /nakamori https://shokoanime.com/downloads/
Redirect 301 /shoko-metadata https://shokoanime.com/downloads/
Redirect 301 /shoko-on-plex https://shokoanime.com/downloads/
Redirect 301 /shoko-desktop https://shokoanime.com/downloads/
Redirect 301 /shoko-server https://shokoanime.com/downloads/

ErrorDocument 404 /404.html