---
layout: main
excerpt: The best and easiest way to manage your anime collection.
---

<!-- Shoko Intro -->

<section class = "section-spacer">
	<div class = "container">
		<div class = "row">
			<div class = "col-xl-6">

				<h1>Automate Your Anime Collection</h1>

				<p>Shoko, previously known as JMM (Japanese Media Manager) is an anime cataloging program designed to automate the entire process of cataloging
					your anime collection regardless of of the size and number of files in your collection. Where other anime cataloging programs rely on
					perfectly named files or force you to manually link a file to the correct episode, Shoko does this all automatically with minimal user
					intervention. Let Shoko do all the heavy lifting by removing these tedious and time consuming tasks so you actually watch your collection
					instead of just maintaining it.
				</p>

				<h1>Incredibly Easy To Use</h1>

				<p>Import your entire collection in just two steps by simply adding your import folders and clicking run import.
				</p>

				<p>We're not kidding when we say we designed Shoko to be as easy to use as possible. What's the point of removing the tedious processes other
					cataloging programs make you do if we just add our own? Of course we also provide a ton of options for advanced users allowing each user to
					have their desired setup.
				</p>

			</div>

			<div class = "col-xl-6 image-padding">

				<a href = "assets/images/programs-plugins/server/Web-UI-Example.jpg" data-lightbox = "image-1" data-title = "Shoko Server - Web UI"><img
						class = "rounded image-container" src = "assets/images/programs-plugins/server/Web-UI-Example.jpg" alt = "Shoko Server - Web UI"></a>

			</div>
		</div>
	</div>
</section>

<!-- Features -->

<section class = "section-spacer background-color-main">
	<div class = "container">
		<div class = "row">
			<div class = "col-xl-12 text-center">

				<h1 class = "section-header-center section-header-light">Jam-Packed With Features</h1>

			</div>
		</div>

		<div class = "row">

			{% for feature in site.data.features %}

			<div class = "col-xl-3">
				<div class = "feature-container">
					<div class = "card-body">

						<div class = "feature-icon">
							<i class = "{{ feature.icon }}"></i>
						</div>

						<h5 class = "feature-title">{{ feature.header }}</h5>
						<p>{{ feature.text }}</p>

					</div>
				</div>
			</div>

			{% endfor %}

		</div>
	</div>
</section>

<section class = "section-spacer">
	<div class = "container">
		<div class = "row">
			<div class = "col-xl-12 text-center">
				<h1 class = "section-header-center ">The Latest From The Shoko Blog</h1>
			</div>
		</div>

		<div class = "row">

			{% for post in site.posts limit:4 %}

			{% include _posts_cat_tag.html %}


			{% endfor %}

		</div>
	</div>
</section>

<!-- Shoko Server Detailed Info & Shoko Desktop Info-->

<section class = "section-spacer background-color-main">
	<div class = "container">
		<div class = "row">
			<div class = "col-xl-6 image-padding">

				<a href = "assets/images/programs-plugins/desktop/Shoko-Desktop-Viewing-Series.jpg" data-lightbox = "image-1"
						data-title = "Shoko Desktop - Viewing Series"><img class = "rounded image-container"
						src = "assets/images/programs-plugins/desktop/Shoko-Desktop-Viewing-Series.jpg" alt = "Shoko Desktop - Viewing Series"></a>

			</div>

			<div class = "col-xl-6 section-header-light">

				<h1 class = "section-header-light">How Does Shoko Really Work?</h1>

				<p>Shoko hashes each file in your collection and sends the hash to AniDB for comparison. When a match is found, the series is created in your
					database and metadata from supported data gathering sites is downloaded and compiled for use within Shoko providing detailed information
					about each file and its associated series. In the rare chance there ever is a problem with the automated process, Shoko includes a wide
					array of advanced tools to identify and properly catalog any file that was unable to be automatically processed.
				</p>

				<h1 class = "section-header-light">Making Life Easier With Shoko Desktop</h1>

				<p>Shoko Desktop provides a visual view of your collection creating your own personal tailored anime database. From here, users can see what
					episodes they are missing, individual and get recommendations based on watch you've watched. Shoko Desktop also provides an array of
					utilities to deal with any issues present in your collection such as multiple or duplicate files or unrecognized files.</p>

			</div>
		</div>
	</div>
</section>

<!-- HTPC Section -->

<section class = "section-spacer">
	<div class = "container">
		<div class = "row">
			<div class = "col-xl-6">

				<h1>Plugins For Plex, Kodi and MediaPortal!</h1>

				<p>Watching Anime on your computer is great, but watching it from the comfort of your couch or bed is even better. Shoko currently supports all
					the major HTPC programs so no matter what HTPC program you use, Shoko is available to you.
				</p>

				<p>Featured below is a random HTPC plugin which you can learn more about, as well as learn more about the other HTPC plugins by checking out the
					download page by clicking <strong>Downloads</strong> in the header or footer.</p>

				<h1 id = "plugin-name"></h1>
				<p id = "plugin-info"></p>

			</div>

			<div class = "col-xl-6 image-padding">

				<a id = "plugin-image-url" href = "" data-lightbox = "image-1" data-title = ""><img id = "plugin-image"
						class = "rounded image-container" src = "" alt = "Shoko Desktop - Viewing Series"></a>

			</div>
		</div>
	</div>
</section>
