@import '@fontsource-variable/space-grotesk';
@import 'non.geist';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply hover:text-shoko-link-hover;
    @apply font-semibold;
  }

  body, html {
    @apply bg-shoko-bg;
    @apply text-shoko-text;
    @apply text-base;
    @apply font-body;
    @apply leading-[1.6rem];
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-shoko-text;
    @apply font-bold;
    @apply font-header;
  }

  h1 {
    @apply text-[2rem];
    @apply leading-[3rem];
    @apply lg:text-[3rem];
    @apply lg:leading-[4.5rem];
  }

  h2 {
    @apply text-[1.75rem];
    @apply leading-[2.25rem];
    @apply lg:text-[2.25rem];
    @apply lg:leading-[3.375rem];
  }

  h4 {
    @apply text-[1.5rem];
    @apply leading-[2.25rem];
  }

  strong {
    @apply font-semibold;
    @apply text-shoko-highlight;
  }

}

:root {
  --shoko-bg: rgba(23, 24, 31, 1.0);
  --shoko-bg-alt: rgba(27, 27, 34, 1.0);
  --shoko-text: rgba(203, 213, 225, 1.0);
  --shoko-text-75: rgba(203, 213, 225, .75);
  --shoko-icon: rgba(203, 213, 225, 1.0);
  --shoko-link: rgba(39, 156, 235, 1.0);
  --shoko-link-hover: rgba(43, 169, 255, 1.0);
  --shoko-highlight: rgb(225, 181, 74);
  --shoko-divider: rgba(48, 61, 77, 1.0);
  --shoko-border: rgba(13, 16, 22, 1.0);
  --shoko-btn-text: rgba(28, 30, 39, 1.0);
  --shoko-btn-hover: rgba(43, 169, 255, 1.0)
}

code, pre {
  border-radius: 8px;
}

li {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

ul {
  list-style: disc !important;
  margin: 0 !important;
  padding-left: 20px !important;
}

[data-rmiz-modal-overlay="visible"] {
  background-color: rgb(0, 0, 0, 0.85) !important;
}

[data-rmiz-modal-content] > img {
  border-radius: 0.5rem;
}

.shoko-post * a {
  font-weight: 600;
  color: var(--shoko-link);
  text-decoration: underline;
}

.shoko-post * a:hover {
  color: var(--shoko-link-hover);
}

.shoko-post > h4 {
  position: relative;
  padding-bottom: 0.5rem;
}

.shoko-post > h4 {
  position: relative;
}

.shoko-post > h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 120px;
  height: 2px;
  background-color: var(--shoko-highlight);
}

@media screen and (max-width: 425px) {
  .shoko-post > h4::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

.shoko-post * img {
  border-radius: 0.5rem;
}

/* Webkit browsers (Chrome, Safari, newer versions of Edge) */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: var(--shoko-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--shoko-text-75);
  border-radius: 10px;
}

/* Firefox */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--shoko-text-75) var(--shoko-bg);
  }
}

