@import '@fontsource-variable/sora';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply hover:text-shoko-link-hover;
        @apply font-semibold;
    }

    body, html {
        @apply bg-shoko-bg;
        @apply text-shoko-text;
        @apply text-base;
        @apply font-body;
        @apply font-medium;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-shoko-text-header;
        @apply font-medium;
        @apply font-header;
    }

    h1 {
        @apply text-[2.5rem] leading-[3.5rem];
    }

    h2 {
        @apply text-[2.25rem] leading-[3.15rem];
    }

    h3 {
        @apply text-[2rem] leading-[3.2rem];
    }

    h4 {
        @apply text-[1.5rem] leading-[2.4rem];
    }

    input {
        @apply accent-shoko-highlight;
    }

    strong {
        @apply font-semibold text-shoko-highlight;
    }
}

:root {
    --shoko-bg: rgba(253, 252, 255, 1);
    --shoko-bg-alt: rgba(245, 244, 248, 1);
    --shoko-border: rgba(186, 200, 215, 0.65);
    --shoko-text: rgba(32, 46, 84, 1);
    --shoko-text-header: rgba(44, 50, 75, 1);
    --shoko-text-alt: rgba(255, 255, 255, 1);
    --shoko-link: rgba(62, 100, 237, 1);
    --shoko-link-hover: rgba(66, 94, 204, 1);
    --shoko-link-header: rgba(102, 180, 243, 1);
    --shoko-link-header-hover: rgba(91, 162, 218, 1);
    --shoko-button-alt: rgba(32, 41, 65, 1);
    --shoko-button-alt-hover: rgba(42, 54, 91, 1);
    --shoko-highlight: rgba(236, 64, 122, 1);
    --shoko-overlay: rgba(10, 11, 29, 0.75);
}

.dark {
    --shoko-bg: rgba(23, 24, 31, 1);
    --shoko-bg-alt: rgba(28, 29, 37, 1);
    --shoko-border: rgba(11, 11, 14, 1);
    --shoko-text: rgba(207, 216, 227, 1);
    --shoko-text-header: rgb(215, 220, 225);
    --shoko-text-alt: rgba(255, 255, 255, 1);
    --shoko-link: rgba(39, 156, 235, 1);
    --shoko-link-hover: rgba(33, 125, 188, 1);
    --shoko-link-header: rgba(102, 180, 243, 1);
    --shoko-link-header-hover: rgba(91, 162, 218, 1);
    --shoko-button-alt: rgba(32, 41, 65, 1);
    --shoko-button-alt-hover: rgba(37, 45, 66, 1);
    --shoko-highlight: rgba(227, 179, 65, 1);
    --shoko-overlay: rgba(10, 11, 29, 0.75);
}

.shoko-post * a {
    font-weight: 600;
    color: var(--shoko-link);
    text-decoration: underline;
}

.shoko-post * a:hover {
    color: var(--shoko-link-hover);
}

.shoko-post > h4 {
    position: relative;
    padding-bottom: 0.5rem;
}

.shoko-post > h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 2px;
    background-color: var(--shoko-highlight); /* Color of the border */
}

.shoko-post * img {
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}


[data-rmiz-modal-overlay="visible"] {
    background-color: rgb(0, 0, 0, 0.85) !important;
}

[data-rmiz-modal-content] > img {
    border-radius: 0.5rem;
}