<div class = "container">
	<div class = "row">
		<div class = "alert alert-warning  alert-dismissible fade show alert-temp" role = "alert">
			<div class = "alert-header">

				<i class = "fas fa-exclamation-triangle"></i>
				<h3 class = "alert-heading">Before Continuing</h3>

			</div>

			<p>This site is <strong class = "alert-importance">currently in development</strong> and is only public to allow the community to provide feedback.
				This alert can be closed by clicking the "X" in the top-right.
			</p>

			<p>Please use the <a class = "alert-link" href = "https://github.com/ShokoAnime/ShokoSite" target = "_blank" rel = "noopener">Shoko Site Repo</a> to
				report all feedback.
			</p>

			<button type = "button" class = "close" data-dismiss = "alert" aria-label = "Close">
				<span aria-hidden = "true">&times;</span>
			</button>

		</div>
	</div>
</div>
