<section class = "background-color-main">

	<div class = "container">
		<div class = "footer">

			<p class = "footer-copyright">© 2018 Shoko. All Rights Reserved.</p>

			<div class = "footer-links">

				{% for link in site.data.navlinks %}

				<a class = "footer-links nav-links" href = "{{ link.about | absolute_url }}">About</a>
				<a class = "footer-links nav-links" href = "{{ link.blog| absolute_url }}">Blog</a>
				<a class = "footer-links nav-links" href = "{{ link.changelog }}" target = "_blank" rel = "noopener">Changelog</a>
				<a class = "footer-links nav-links" href = "{{ link.downloads | absolute_url }}">Downloads</a>
				<a class = "footer-links nav-links" href = "{{ link.progams-plugins | absolute_url }}">Programs / Plugins</a>
				<a class = "footer-links nav-links" href = "{{ link.shoko-docs }}" target = "_blank" rel = "noopener">Documentation</a>
				<a class = "footer-links nav-links" href = "{{ link.github }}" target = "_blank" rel = "noopener">Github</a>
				<a class = "footer-links nav-links" href = "{{ link.discord }}" target = "_blank" rel = "noopener">Discord</a>

				{% endfor %}

			</div>
		</div>
	</div>

</section>
