<section class = "color-main">

	<div class = "container">
		<div class = "footer">

			<p class = "footer-copyright">© 2018 Shoko. All Rights Reserved.</p>

			<div class = "footer-links">

				<a class = "footer-links nav-links" href = "#">About</a>
				<a class = "footer-links nav-links" href = "#">Blog</a>
				<a class = "footer-links nav-links" href = "#">Changelog</a>
				<a class = "footer-links nav-links" href = "#">Downloads</a>
				<a class = "footer-links nav-links" href = "#">Programs / Plugins</a>
				<a class = "footer-links nav-links" href = "#">Shoko Docs</a>
				<a class = "footer-links nav-links" href = "#">GitHub</a>
				<a class = "footer-links nav-links" href = "#">Discord</a>

			</div>
		</div>
	</div>

</section>
