<nav class = "navbar navbar-expand-lg navbar-dark color-main">
	<div class = "container">

		<a class = "navbar-brand" href = "{{ '/' | absolute_url }}">Shoko</a>

		<button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarNav" aria-controls = "navbarNav" aria-expanded = "false"
				aria-label = "Toggle navigation">
			<span class = "navbar-toggler-icon"></span>
		</button>

		<div class = "collapse navbar-collapse" id = "navbarNav">

			<ul class = "navbar-nav ml-auto">
				<li class = "nav-item active">
					<a class = "nav-link" href = "{{ '/about' | absolute_url }}">About</a>
				</li>
				<li class = "nav-item">
					<a class = "nav-link" href = "{{ '/blog' | absolute_url }}">Blog</a>
				</li>
				<li class = "nav-item">
					<a class = "nav-link" href = "https://docs.shokoanime.com/changelog" target="_blank" rel="noopener">Changelog</a>
				</li>
				<li class = "nav-item">
					<a class = "nav-link" href = "{{ '/downloads' | absolute_url }}">Downloads</a>
				</li>
				<li class = "nav-item">
					<a class = "nav-link" href = "#">Programs / Plugins</a>
				</li>
				<li class = "nav-item">
					<a class = "nav-link" href = "https://docs.shokoanime.com" target="_blank" rel="noopener">Documentation</a>
				</li>
				<li class = "nav-item">
					<a class = "nav-link" href = "https://github.com/shokoanime" target="_blank" rel="noopener">Github</a>
				</li>
				<li class = "nav-item">
					<a class = "nav-link" href = "https://discord.gg/vpeHDsg" target="_blank" rel="noopener">Discord</a>
				</li>
			</ul>

		</div>
	</div>
</nav>
