{% for post in site.posts limit:1 %}

<div class = "card shadow blog-latest">
	<div class = "row">
		<div class = "col-xl-6">
			<a href = "{{ post.url | absolute_url }}"><img class = "card-img-top blog-latest-image"
					src = "{{ post.image | absolute_url }}"
					alt = " {{ post.title }}"></a>
		</div>

		<div class = "col-xl-6">
			<div class = "card-body">

					<span class = "blog-latest-date">Posted on {{ post.date | date: '%B %d, %Y' }} in

							{% for category in post.categories %}
							<a class = "blog-latest-cat color-link-alt" href="category/{{ category | downcase }}">{{ category }}</a>
							{% endfor %}

				</span>

				<h5 class = "blog-latest-title">{{ post.title }}</h5>
				<hr class = "blog-latest-hr">
				<p class = "blog-latest-text">

					{% if post.title.size > 47 %}
					{{ post.content | strip_html | truncatewords:110 }}
					{% else %}
					{{ post.content | strip_html | truncatewords:130 }}
					{% endif %}

				</p>
				<a class = "blog-latest-readmore color-link-alt" href = "{{ post.url | absolute_url }}">Read More →</a>

			</div>
		</div>
	</div>
</div>

{% endfor %}

