/*
---------------------------------------------
		1. General
		2. NavBar
		3. Index
				3A. Index - Hero Section
				3B. Index - Features Section
				3C. Index - Info Section
		4. Breadcrumbs
		5. Blog
				5A. Blog - Post
				5B. Blog - Share
		6. Footer


		4. Page Content
		5. Sidenav Navigation
		6. Footer
		7. Changelog
		8. Tables
		9. FAQ
		10. Tabs
		11. Search
		12. Lightbox
		13. Media Queries
---------------------------------------------
*/


/*
---------------------------------------------
		1. General
---------------------------------------------
*/

*, *:before, *:after {
	box-sizing: inherit;
}

::placeholder {
	color: var(--fontColor)
}

a {
	color: var(--linkNormal);
	font-weight: 600;
}

a:hover {
	color: var(--linkActive) !important;
	text-decoration: underline;
}

body {
	background-color: var(--backgroundColor);
	color: var(--fontColor);
	display: none;
	font-family: "Muli", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.9;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--fontColor);
	font-family: "Exo 2", sans-serif;
}

h2, h3, h4, h5, h6 {
	margin: 1rem 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--backgroundColor) inset !important;
}

pre {
	background-color: var(--backgroundColor);
	border: var(--borderColor) 1px solid;
	border-left: 5px solid var(--codeLeftBorder);
	color: var(--fontColor);
	margin: 1rem 0;
	overflow: auto;
	padding: 1em;
}

thead {
	background-color: var(--headerNormalBackground);
}

.background-color {
	background-color: var(--backgroundColor);
}

.background-color-alt {
	background-color: var(--backgroundColorAlt);
}

.border {
	border: 1px solid var(--borderColor) !important;
}

.img-fluid {
	padding: 1rem 0;
}

.random-banner {
	background: rgba(0, 0, 0, 0) url("../images/banners/Banner-1.jpg") repeat scroll 50% 20% / cover;
	height: 600px;
	position: relative;
}

.page-wrapper {
	max-width: 1720px;
}

.row-wrapper {
	height: 100%;
	min-height: calc(100vh - 331px);
}

.btn {
	text-transform: uppercase;
	font-weight: 700;
	-webkit-box-shadow: 2px 3px 0 rgba(4, 4, 4, 0.3);
	-moz-box-shadow: 2px 3px 0 rgba(4, 4, 4, 0.3);
	box-shadow: 2px 3px 0 rgba(4, 4, 4, 0.3);
}

.btn-download {
	color: var(--buttonText);
	background-color: var(--buttonDownload);
	border-color: var(--buttonDownloadBorder);
}

.btn-download:hover {
	color: var(--buttonText);
	background-color: var(--buttonDownloadHover);
	border-color: var(--buttonDownloadBorder);
}

.btn-learn {
	color: var(--buttonText);
	background-color: var(--buttonLearn);
	border-color: var(--buttonLearnBorder);
}

.btn-learn:hover {
	color: var(--buttonText);
	background-color: var(--buttonLearnHover);
	border-color: var(--buttonLearnBorder);
}

.category-divider {
	color: rgb(255, 255, 255);
	margin: 0;
}

/*
---------------------------------------------
		2. NavBar
---------------------------------------------
*/

.navbar-wrapper {
	z-index: 3;
	position: absolute;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.navbar-info {
	padding: 1.60rem 3rem;
}

.nav-links {
	padding-top: 0.50rem;
	margin-left: auto;
}

.nav-links > a:hover {
	text-decoration: none;
}

.navbar-title > h2 {
	color: var(--siteTitle);
	margin: 0;
	font-variant: small-caps;
	font-weight: 700;
	font-style: italic;
}

.navbar-title > h2:hover {
	color: var(--linkActive);
}

.navbar-title:hover {
	text-decoration: none;
}

.navbar-divider {
	background-color: #fff;
	display: inline-block;
	height: 20px;
	margin-bottom: 1rem;
	margin-left: 2.5rem;
	margin-top: 1.5rem;
	opacity: 0.15;
	width: 1px;
}

.navbar-nav-link {
	color: var(--navLinkNormal);;
	font-weight: 600;
	padding-left: 1rem;
}

.nav-divider {
	color: var(--fontColorAlt);
	padding: 0 1rem;
}

.theme-icon {
	color: var(--fontColorAlt);
	cursor: pointer;
}

/*
---------------------------------------------
		3. Index
---------------------------------------------
*/


/*
---------------------------------------------
				3A. Index - Hero Section
---------------------------------------------
*/

.hero-info-wrapper {
	display: block;
	text-align: center;
	margin: auto;
	max-width: 80%;
	position: relative;
	top: 30px;
}

.hero-info-main {
	font-size: 6rem;
	color: var(--fontColorAlt);
	font-variant: small-caps;
	font-weight: 700;
}

.hero-info-subtitle {
	font-size: 1.3rem;
	color: var(--fontColorAlt);
	padding-top: 1.5rem;
	font-weight: 700;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.hero-buttons {
	padding-top: 2rem;
}

.hero-button-spacer {
	margin-right: 2rem;
}

/*
---------------------------------------------
				3B. Index - Features Section
---------------------------------------------
*/

.features-wrapper {
	padding: 3rem 1rem;
}

.feature-header {
	margin-top: 0;
	margin-bottom: 3.5rem;
	text-align: center;
	font-size: 3rem;
}

.feature-item-wrapper {
	padding: 0;
}

.feature-title {
	display: table-cell;
	padding: 1rem 0 1.25rem 0;
	vertical-align: top;
	font-size: 1.5rem;
}

.feature-icon {
	display: table-cell;
	font-size: 2rem;
	padding-right: 1.5rem;
	vertical-align: top;
}

/*
---------------------------------------------
				3C. Index - Info Section
---------------------------------------------
*/

.index-info-wrapper {
	padding: 5rem 1rem;
}

.index-info-header {
	margin: 2rem 0;
}

.index-info-item-wrapper {
	max-width: 48%;
}

.index-info-image {
	width: 98%;
}

.media-player-icons {
	display: flex;
	flex-direction: row;
}

.media-player-image {
	width: 100px;
	margin-right: 2rem;
}

/* Slider */

.index-slider-image {
	height: 472px;
}

/*
---------------------------------------------
		4. Breadcrumbs
---------------------------------------------
*/

.breadcrumb-wrapper {
	padding: 0.5rem 0;
	position: relative;
	top: 30px;
	width: 1720px;
	margin: auto;
}

.breadcrumb-page-title {
	font-size: 4rem;
	color: var(--fontColorAlt)
}

.breadcrumb-list {
	margin: auto 0 auto auto;
	font-size: 1.3rem;
	color: var(--fontColorAlt)
}

.breadcrumb-separator {
	margin: 0 0.6rem
}

.breadcrumb-active {
	color: var(--linkActive);
	font-weight: 600;
}

/*
---------------------------------------------
		5. Blog
---------------------------------------------
*/

.index-blog-wrapper {
	padding: 5rem 0 3rem 0;
}

.blog-index-wrapper {
	max-width: 1720px;
	margin: 3rem auto;
}

.blog-index-post {
	max-width: 31.6%;
}

.blog-index-post-wrapper {
	height: 310px;
	width: 100%;
	position: relative;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	margin-bottom: 2rem;
}

.blog-index-post-image {
	width: 100%;
	height: 310px;
	position: absolute;
}

.blog-index-post-overlay {
	background-color: rgba(10, 11, 29, 0.8);
	position: relative;
	width: 100%;
	z-index: 1;
	height: 310px;
	display: flex;
}

.blog-index-post-date {
	background-color: #268ed6;
	color: white;
	width: 60px;
	height: 50px;
	position: relative;
	left: 50px;
	padding: 10px 20px 20px 20px;
	text-align: center;
	font-weight: 600;
}

.blog-index-post-date-month {
	margin-top: -0.3rem;
}

.blog-index-post-date-day {
	font-size: 2rem;
	margin-top: -1rem;
}

.blog-index-post-info {
	position: absolute;
	bottom: 140px;
	left: 50px;
	width: 450px;
}

.blog-index-post-link {
	color: var(--linkBlogOverlay)
}

.blog-index-post-title {
	color: rgb(255, 255, 255);
	margin-top: 0;
	font-size: 1.70rem;
}

.blog-index-post-summary {
	color: rgb(255, 255, 255);
	position: absolute;
	bottom: 35px;
	left: 50px;
	width: 483px;
}

.blog-index-post-readmore {
	position: absolute;
	bottom: 15px;
	left: 50px;
}


/*
---------------------------------------------
				5A. Blog - Post
---------------------------------------------
*/

.blog-post-image {
	width: 100%;
	height: 600px;
	position: absolute;
	object-fit: cover;
}

.blog-post-content-wrapper {
	max-width: 1720px;
	margin: 4rem auto;
}

.blog-post-content {
	max-width: 71%;
}

.blog-post-content-image {
	max-height: 500px;
	max-width: 600px;
	height: 100%;
	width: 100%;
	margin: 0 0 1rem 0;
}

.blog-post-info {
	border-bottom: var(--borderColor) 1px solid;
	display: flex;
	font-weight: 600;
	font-size: 0.95rem;
	position: relative;
	bottom: 28px;
	padding-bottom: 1rem;
}

.blog-post-info-left > p {
	margin: 0;
	text-align: start;
}

.blog-post-info-right {
	margin-left: auto;
}

.blog-post-info-right > p {
	margin: 0;
	text-align: end;
}

.blog-post-date {
	color: var(--linkActive);
}

.blog-post-category {
	margin-left: auto;
}

.blog-post-tags {
	padding-left: 1rem;
}

.blog-post-divider {
	color: var(--fontColor);
}

.blog-post-side-sticky {
	position: sticky;
	position: -webkit-sticky;
	top: 3rem;
	align-self: flex-start;
	height: auto;
}

.blog-post-side-wrapper {
	border-bottom: var(--borderColor) 1px solid;
	padding: 0 0 1rem 0;
	margin: 0;
	font-weight: 600;
}

.blog-post-side-header{
	margin: 0;
	padding-left: 1rem;
	border-left: 5px solid var(--linkActive);
}


.blog-post-related-wrapper {
	padding: 2rem 0 0 0 ;
}

.blog-post-related-image {
	width: 150px;
	height: 100px;
}

.blog-post-related-info {
	display: inline-block;
	padding-left: 1.5rem;
	font-size: 0.95rem;
}

/*
---------------------------------------------
				5B. Blog - Share
---------------------------------------------
*/

.share-button-wrapper {
	display: flex;
	text-align: center;
	text-decoration: none;
}

.share-button-link {
	color: #ffffff;
	border: none;
	border-radius: 4px;
	outline: none;
	text-align: center;
	height: 50px;
	display: flex;
	width: 100px;
	margin: 2rem 0.5rem 2rem 0;
}

a.share-button-link {
	text-decoration: none;
}

.share-icon {
	margin: auto;
}

.twitter {
	background: #55ACEE;
}

.facebook {
	background: #3B5998;
}

.reddit {
	background: #ff5700;
}

.linkedin {
	background: #4875B4;
}

.pinterest {
	background: #BD081C;
}

.email {
	background: #444444;
}


/*
---------------------------------------------
		6. Footer
---------------------------------------------
*/

.footer-wrapper {
	background-color: var(--footerBackground);
	border-top: var(--borderColor) 1px solid;
	height: 80px;
	overflow: hidden;
	width: 100%;
}

.footer-info {
	color: var(--fontColorAlt);
	display: flex;
	height: 100%;
	padding: 0 3rem;
}

.footer-links {
	padding-top: 1.75rem;
}

.footer-links > a {
	color: var(--fontColorAlt);
}

.footer-links > a:hover {
	color: var(--linkActive);
	text-decoration: none;
}

.footer-links-spacer {
	padding-left: 1rem;
	padding-right: 1rem;
}

.footer-copyright {
	margin-left: auto;
	padding-top: 1.75rem;
}

/*
---------------------------------------------
		7. Page
---------------------------------------------
*/


.page-image-wrapper {
	width: 100%;
	height: 600px;
	object-fit: cover;
	position: relative;
}

.page-image-overlay {
	background-color: rgba(10, 11, 29, 0.8);
	position: absolute;
	width: 100%;
	z-index: 2;
	height: 100%;
	display: flex;
}

/*
---------------------------------------------
UNUSED
---------------------------------------------
*/

/*
---------------------------------------------
		5. Sidenav Navigation
---------------------------------------------
*/

.sidenav-wrapper {
	border-right: var(--borderColor) 1px solid;
	max-width: 270px;
	padding: 5rem 1rem;
}

.nav-menus-wrapper {
	padding: .5rem .5rem;
	position: sticky;
	top: 50px;
}

.nav-sidebar {
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	flex-direction: column;
	font-weight: 400;
}

.nav-sidebar .nav {
	display: none;
	flex-wrap: nowrap;
	font-size: 0.875rem;
	margin-left: 0.75rem;
}

.nav-sidebar .nav-link {
	-webkit-box-pack: justify;
	color: var(--fontColor);
	display: flex;
	justify-content: space-between;
	padding: 3px 0;
}

.nav-title-wrapper .nav-link {
	margin-left: 0.75rem;
}

.nav-link.active {
	color: var(--linkActive);
}

.nav-sidebar .nav-item {
	flex-shrink: 0;
	margin: 4px 0;
	overflow: hidden;
	padding-right: 5px;
}

.nav-item > a {
	color: var(--fontColor)
}

.nav-item > a:hover {
	color: var(--linkActive);
	text-decoration: none;
}

.nav-sidebar .nav-angle.rotate {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.nav-sidebar .nav-angle {
	display: inline-block;
	font-size: 0.85rem;
	font-style: normal;
	margin-top: 2px;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
}

.nav-sidebar .nav-angle::before {
	content: ">";
}

a.nav-title {
	color: var(--sideNavTitle) !important;
	font-weight: 700;
}

/*
---------------------------------------------
		8. Tables
---------------------------------------------
*/

.table {
	color: var(--fontColor);
	font-size: 0.9375rem;
}

.table-bordered {
	border: 1px solid var(--borderColor);
}

.table-bordered td, .table-bordered th {
	border: 1px solid var(--borderColor);
}

.table-bordered tbody tr:nth-of-type(even) {
	background-color: var(--rowBackgroundEven);
}

.table-bordered tbody tr:nth-of-type(odd) {
	background-color: var(--rowBackgroundOdd);
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid var(--borderColor);
}

/*
---------------------------------------------
		10. Tabs
---------------------------------------------
*/

.tab-pane {
	display: none;
}

.nav-tabs {
	border-bottom: 1px solid var(--borderColor);
}

.nav-tabs .nav-link {
	color: var(--fontColor);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: var(--tabsActiveBackground);
	border-color: var(--tabsActiveBorder) var(--tabsActiveBorder) var(--tabsActiveBorderBottom);
	color: var(--tabsActive);
}

.tab-content {
	padding: 1rem 0;
}

/*
---------------------------------------------
		11. Search
---------------------------------------------
*/

.search-wrapper {
	margin-top: 2rem;
}

.search-input {
	color: var(--searchfontColor);
	background-color: var(--searchBackground);
	border-top: 0;
	border-right: 0;
	border-left: 0;
	outline: 0;
}
