@import '@fontsource-variable/lexend-deca';
@import 'simple-icons-font/font/simple-icons.min.css';
@import 'tailwind.css';

.light * .shoko-blog-post * a {
    font-weight: 500;
    color: #3E64ED;
    text-decoration: underline;
}

.dark * .shoko-blog-post * a {
    font-weight: 500;
    color: #279CEB;
    text-decoration: underline;
}

