<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body class="lang-{{ .Site.Language.Lang }}">

{{ partial "header.html" . }}

<div class="page-image-wrapper random-banner border-bottom">
	<div class="page-image-overlay">

		{{ partial "breadcrumb.html" . }}

	</div>
</div>

{{ $content_parts := split .Content "||ContentBlock||" }}

{{ $pages := .Site.RegularPages }}
{{ range .Site.Home.Translations }}
{{ $pages = $pages | lang.Merge .Site.RegularPages }}
{{ end }}
{{ $paginator := .Paginate $pages }}

<div class="blog-wrapper">
	<div class="row">
		<div class="col-xl-9 blog-content-wrapper">

			{{ range $paginator.Pages }}

			<div class="blog-post-wrapper">
				<img class="blog-post-image" src="{{ .Site.BaseURL }}{{ .Params.image }}" alt=" {{ .Params.title }}">
				<div class="blog-post-info-wrapper">
					<h3 class="blog-post-title">{{ .Params.title }}</h3>
					<h6 class="blog-post-date">{{ .Date.Format "January 2, 2006" }}</h6>
					<div class="blog-post-category">

						{{ $taxoCount := 0 }}
						{{ range $name := .Params.category }}
						{{ $name = $name | lower }}

						{{ if gt $taxoCount "0"}}
						<span>|</span>
						<a href="category/{{ $name | urlize }}"> {{ i18n $name }}</a>
						{{ else }}
						<a href="category/{{ $name | urlize }}">{{ i18n $name }}</a>
						{{ end }}

						{{ $taxoCount = add $taxoCount 1 }}

						{{ end }}

					</div>
					<hr>
					<p class="blog-post-summary">{{ .Summary | truncate 280 }}</p>
					<a class="blog-post-link" href="{{ .Permalink }}">{{ index $content_parts 0 | htmlUnescape | plainify }}</a>
				</div>
			</div>
			<hr class="blog-hr">

			{{ end }}
		</div>

		<div class="col-xl-3 blog-nav-wrapper">

			<!-- Share -->
			<span class="blog-nav-header-indicator"></span>
			<h5 class="blog-nav-header">{{ index $content_parts 1 | htmlUnescape | plainify }}</h5>
			<hr class="blog-nav-hr">
			{{ partial "share.html" . }}

			<!-- Categories -->
			<span class="blog-nav-header-indicator"></span>
			<h5 class="blog-nav-header">{{ index $content_parts 2 | htmlUnescape | plainify }}</h5>
			<hr class="blog-nav-hr">
			<div class="blog-tax-wrapper">
				{{ range $name, $items := .Site.Taxonomies.category }}
				<div class="blog-tax-single">
					<a class="blog-tax-link" href="category/{{ $name | urlize }}">{{ i18n $name }}</a>
					<span class="blog-tax-count">{{ len $items }}</span>
				</div>
				{{ end }}
			</div>

			<!-- Tags -->
			<h5 class="blog-nav-header">{{ index $content_parts 3 | htmlUnescape | plainify }}</h5>
			<hr class="blog-nav-hr">
			<div class="blog-tax-wrapper">
				{{ range $name, $items := .Site.Taxonomies.tag }}
				<div class="blog-tax-single">
					<a class="blog-tax-link" href="tag/{{ $name | urlize }}">{{ i18n $name }}</a>
					<span class="blog-tax-count">{{ len $items }}</span>
				</div>
				{{ end }}
			</div>

		</div>

	</div>
</div>

{{ partial "pagination.html" . }}

{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>