<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body class="lang-{{ .Site.Language.Lang }}">

{{ partial "header.html" . }}

<div class="page-image-wrapper random-banner border-bottom">
	<div class="page-image-overlay">

		{{ partial "breadcrumb.html" . }}

	</div>
</div>

{{ $content_parts := split .Content "||ContentBlock||" }}

<div class="blog-wrapper">
	<div class="row">
		<div class="col-xl-9 blog-content-wrapper">

			{{ range .Paginator.Pages }}

			{{ .Scratch.Delete "class" }}
			{{ .Scratch.Delete "divider" }}

			<div class="blog-post-wrapper">
				<img class="blog-post-image" src="{{ .Site.BaseURL   }}{{ .Params.image }}" alt=" {{ .Params.title }}">
				<div class="blog-post-info-wrapper">
					<h3 class="blog-post-title">{{ .Params.title }}</h3>
					<h6 class="blog-post-date">{{ .Date.Format "January 2, 2006" }}</h6>
					<div class="blog-post-category">
						{{ .Scratch.Set "type" "category" }}
						{{ .Scratch.Set "class" "blog-post-link" }}
						{{ .Scratch.Set "divider" "blog-post-divider" }}
						{{ partial "taxonomy.html" . }}
					</div>
					<hr>
					<p class="blog-post-summary">{{ .Summary | truncate 280 }}</p>
					<a class="blog-post-link" href="{{ .Permalink }}">{{ index $content_parts 0 | htmlUnescape | plainify }}</a>
				</div>
			</div>
			<hr class="blog-hr">

			{{ end }}
		</div>

		<div class="col-xl-3 blog-nav-wrapper">

			<h5 class="blog-nav-header">Spread The Word</h5>

		</div>

	</div>
</div>

{{ partial "pagination.html" . }}

{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>