<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body class="lang-{{ .Site.Language.Lang }}">

{{ partial "header.html" . }}

<div class="page-image-wrapper random-banner border-bottom">
	<div class="page-image-overlay">

		{{ partial "breadcrumb.html" . }}

	</div>
</div>

{{ $pages := .Data.Pages }}
{{ range .Site.Home.Translations }}
{{ $pages = $pages | lang.Merge .Data.Pages }}
{{ end }}
{{ $paginator := .Paginate $pages }}

<div class="blog-wrapper">
	<div class="row">
		<div class="col-xl-9 blog-content-wrapper">

			{{ range $paginator.Pages }}
			{{ if eq .Params.type "post" }}

			<div class="blog-post-wrapper">
				<a href="{{ .Permalink }}">
					<img class="blog-post-image" src="{{ .Site.BaseURL }}{{ .Params.image }}" alt=" {{ .Params.title }}">
					<div class="blog-post-image-overlay">
						<p class="blog-post-image-text">{{ .Title }}</p>
					</div>
				</a>
				<div class="blog-post-info-wrapper">
					<h3 class="blog-post-title">{{ .Params.title }}</h3>
					<h6 class="blog-post-date">{{ .Date.Format "January 2, 2006" }}</h6>
					<div class="blog-post-category">

						{{ $taxoCount := 0 }}
						{{ range $name := .Params.category }}
						{{ $name = $name | lower }}
						{{ if gt $taxoCount "0"}}
						<span class="blog-post-divider">|</span>
						<a href="{{ "/blog/category/" | relLangURL }}{{ . | urlize }}"> {{ i18n $name }}</a>
						{{ else }}
						<a href="{{ "/blog/category/" | relLangURL }}{{ . | urlize }}">{{ i18n $name }}</a>
						{{ end }}
						{{ $taxoCount = add $taxoCount 1 }}
						{{ end }}

					</div>
					<hr>
					<p class="blog-post-summary">{{ .Summary | truncate 280 }}</p>
					<a class="blog-post-link" href="{{ .Permalink }}">{{ i18n "read-more" }}</a>
				</div>
			</div>

			<hr class="blog-hr">

			{{ end }}
			{{ end }}

		</div>

		<div class="col-xl-3 blog-nav-wrapper">

			{{ .Scratch.Set "sidenav" "blog" }}
			{{ partial "sidenav.html" . }}

		</div>

	</div>
</div>

{{ partial "pagination.html" . }}

{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>