<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body class="lang-{{ .Site.Language.Lang }}">

{{ partial "header.html" . }}

<div class="page-image-wrapper random-banner border-bottom">
	<div class="page-image-overlay">

		{{ partial "breadcrumb.html" . }}

	</div>
</div>

{{ $pages := (where .Data.Pages "Section" "blog") }}
{{ range .Site.Home.Translations }}
{{ $pages = $pages | lang.Merge  (where .Data.Pages "Section" "blog") }}
{{ end }}
{{ $paginator := .Paginate $pages }}

<div class="blog-wrapper">
	<div class="row">

		{{ range $paginator.Pages }}
		{{ if eq .Params.type "post" }}
		<div class="col-xl-12 blog-post-container">

			<div class="blog-post-wrapper">
				<img class="blog-post-image" src="{{ .Site.BaseURL }}{{ .Params.image }}" alt=" {{ .Params.title }}">
				<div class="blog-post-image-overlay">
					<div class="blog-post-date">
						<div class="blog-post-date-month">{{ .Date.Format "Jan" }}</div>
						<div class="blog-post-date-day">{{ .Date.Format "2" }}</div>
					</div>
					<div class="blog-post-overlay-info">
						<h4 class="blog-post-title">{{ .Title }}</h4>

						{{ $taxoCount := 0 }}
						{{ range $name := .Params.category }}
						{{ $name = $name | lower }}
						{{ if gt $taxoCount "0"}}
						<span class="blog-post-divider">|</span>
						<a href="/blog/category/{{ $name | urlize | relLangURL }}">{{ i18n $name }}</a>
						{{ else }}
						<a href="/blog/category{{ $name | urlize | relLangURL }}">{{ i18n $name }}</a>
						{{ end }}
						{{ $taxoCount = add $taxoCount 1 }}
						{{ end }}

					</div>
				</div>
			</div>

			<div class="blog-post-info">
				<p class="blog-post-summary">{{ .Summary | truncate 280 }}</p>
				<a class="blog-post-link" href="{{ .Permalink }}">{{ i18n "read-more" }}</a>
			</div>

		</div>
		{{ end }}
		{{ end }}

	</div>
</div>

{{ partial "pagination.html" . }}

{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>