<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body class="lang-{{ .Site.Language.Lang }}">

<!-- Nav -->
{{ partial "header.html" . }}

<!-- Random Banner -->
<div class="random-banner">
	<div class="hero-overlay">
		{{ partial "breadcrumb.html" . }}
	</div>
</div>

<div class="section-wrapper row">

	{{ $data := index .Site.Data .Site.Language.Lang }}
	{{ if eq (index .Site.Data .Site.Language.Lang) nil }}

	{{ $data = .Site.Data.en }}

	{{ end }}

	{{ range $data.programs.programList }}

	<div class="col-xxl-12">
		<div class="downloads-wrapper">

			{{ if eq "Shoko Server" .name }}
			<div class="downloads-alert">
				<div class="alert alert-warning" role="alert">
					<i class="downloads-alert-icon fas fa-exclamation-triangle"></i>{{ i18n "server-required" }}
				</div>
			</div>
			{{ end }}

			<img class="downloads-image" src="{{ .image }}" alt="{{ .title }}">

			<div class="downloads-inside-wrapper">
				<div class="{{ if eq "Shoko Server" .name }}downloads-info-wrapper-server{{ else }}downloads-info-wrapper{{ end }}">
				<h3 class="downloads-header">{{ .name }}</h3>
				<div class="downloads-inner-info-wrapper">
					<p class="downloads-version">{{ i18n "version" }} {{ .version }}</p>
					<p class="downloads-release">{{ .release }}</p>
				</div>
				<p>{{ .info | truncate 220 }}</p>
				<a class="downloads-link" href="{{ "/downloads/" | relLangURL }}{{ .name | urlize }}">{{ i18n "learn-more-about" }} {{ .name }}</a>

				{{ partial "downloads-link.html" . }}

			</div>
		</div>

	</div>
</div>

{{ end }}

</div>

{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>