<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body>

<!-- Hero Section -->

{{ partial "header.html" . }}

<div class="hero-wrapper border-bottom">
	<div class="hero-overlay">
		<div class="hero-info-wrapper">

			<h1 class="hero-info-main">Automate Your Entire Collection</h1>
			<p class="hero-info-subtitle">Shoko is an anime cataloging program designed to automate the entire process of
				cataloging your anime collection regardless of of the size and number of files in your collection. With Shoko,
				you'll spend more time watching and building your collection instead of organizing it.</p>

			<div class="hero-buttons">
				<button type="button" class="btn btn-download btn-lg hero-button-spacer">Download</button>
				<button type="button" class="btn btn-learn btn-lg">Learn More</button>
			</div>

		</div>
	</div>
</div>

<!-- Features Section -->

<div class="features-wrapper background-color-alt border-bottom">
	<div class="container page-wrapper">

		<div class="row">
			<div class="col-xl-12">

				<h2 class="feature-header">Jam-Packed With Features</h2>

			</div>
		</div>

		<div class="row">

			{{ range .Site.Data.features.featuresList }}

			<div class="col-xl-3 feature-item-wrapper">
				<div class="card-body">

					<div class="feature-icon">
						<i class="{{ .faLink }}"></i>
					</div>

					<h5 class="feature-title">{{ .feature }}</h5>
					<p class="feature-text">{{ .text }}</p>

				</div>
			</div>

			{{ end }}

		</div>

	</div>
</div>

<!-- Blog Section -->

<div class="index-blog-wrapper background-color border-bottom">

	<div class="container page-wrapper">
		<div class="row">

			{{ range last 3 (where .Site.Pages "Section" "blog") }}
			{{ if eq .Params.type "post" }}

			<div class="col-xl-4 index-blog-item-wrapper">
				<div class="index-blog-post-wrapper">
					<img class="index-blog-post-image" src="{{ .Params.image }}" alt=" {{ .Params.title }}">
					<div class="index-blog-post-overlay">
						<div class="index-blog-post-date">
							<div class="index-blog-post-date-month">{{ .Date.Format "Jan" }}</div>
							<div class="index-blog-post-date-day">{{ .Date.Format "2" }}</div>
						</div>
						<div class="index-blog-post-info">
							{{ .Scratch.Delete "class" }}
							{{ .Scratch.Set "type" "category" }}
							{{ .Scratch.Set "class" "index-blog-post-link" }}
							{{ .Scratch.Set "divider" "category-divider" }}
							{{ partial "taxonomy.html" . }}
							<h3 class="index-blog-post-title">{{ .Params.title }}</h3>
						</div>
						<p class="index-blog-post-summary">{{ .Summary | truncate 170 }}</p>
						<div class="index-blog-post-readmore">
							<a class="index-blog-post-link" href="{{ .Permalink }}">Read More →</a>
						</div>
					</div>
				</div>
			</div>

			{{ end }}
			{{ end }}

		</div>
	</div>
</div>

<!-- Info Section -->

<div class="index-info-wrapper background-color-alt border-bottom">
	<div class="container page-wrapper">
		<div class="row">

			<div class="col-xl-6 index-info-item-wrapper">

				<h1 class="index-info-header">Incredibly Easy To Use</h1>

				<p>We're not kidding when we say we designed Shoko to be as easy to use as possible. What's the point of
					removing the tedious processes other cataloging programs make you do if we just add our own? Of course we
					also provide a ton of options for advanced users allowing each user to have their desired setup.</p>

				<h1 class="index-info-header">How Does Shoko Really Work?</h1>

				<p>Shoko hashes each file in your collection and sends the hash to AniDB for comparison. When a match is found,
					the series is created in your database and metadata from supported data gathering sites is downloaded and
					compiled for use within Shoko providing detailed information about each file and its associated series. In
					the rare chance there ever is a problem with the automated process, Shoko includes a wide array of advanced
					tools to identify and properly catalog any file that was unable to be automatically processed.</p>

			</div>
			<div class="col-xl-6 index-info-item-wrapper">

				<a href="/assets/images/programs-plugins/shoko-desktop/Shoko-Desktop-Viewing-Series.jpg"
					data-toggle="lightbox" data-lightbox="Shoko Desktop - Viewing Series"
					data-title="Shoko Desktop - Viewing Series"><img class="img-fluid index-info-image"
					src="/assets/images/programs-plugins/shoko-desktop/Shoko-Desktop-Viewing-Series.jpg"
					alt="Shoko Desktop - Viewing Series"></a>


			</div>

		</div>
	</div>
</div>

<!-- Info Section -->

<div class="index-info-wrapper background-color">
	<div class="container page-wrapper">
		<div class="row">

			<div class="col-xl-6 index-info-item-wrapper">
				<div id="index-slider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2500">

					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="/assets/images/programs-plugins/my-anime-3/My-Anime-3-StreamedMP-Calendar.jpg"
								class="d-block w-100 index-slider-image" alt="My Anime 3">
						</div>
						<div class="carousel-item">
							<img src="/assets/images/programs-plugins/nakamori/Nakamori-Coverflow.jpg"
								class="d-block w-100 index-slider-image" alt="Nakamori">
						</div>
						<div class="carousel-item">
							<img src="/assets/images/programs-plugins/shoko-metadata/Shoko-Metadata-Series-Listing.jpg"
								class="d-block w-100 index-slider-image" alt="Shoko Metadata">
						</div>
					</div>

				</div>
			</div>

			<div class="col-xl-6 index-info-item-wrapper">

				<h1 class="index-info-header">Media Player Support Built-In</h1>

				<p>We want to make your current setup better and more efficient, not change or complicate it which is why Shoko
					has built-in support for some of the most popular media player programs on the market. All you need to do is
					download the Shoko plugin for your media player program of choice and you're good to go!</p>

				<p>Shoko Currently supports the following media player programs. Don't see your preferred media player program
					listed below? We provide access to Shoko's comprehensive API allowing anyone to build their own plugin. Join
					us on <a href="https://discord.gg/vpeHDsg" rel="noopener" target="_blank">Discord</a> for more information.
				</p>

				<p>Click on one of the icons below to learn more about how to integrate it with Shoko.</p>

				<div class="media-player-icons">

					<a href="plex"><img class="media-player-image" src="/assets/images/media-players/plex.png" alt="Plex"></a>
					<a href="plex"><img class="media-player-image" src="/assets/images/media-players/kodi.png" alt="Kodi"></a>
					<a href="plex"><img class="media-player-image" src="/assets/images/media-players/mediaportal.png"
						alt="MediaPortal"></a>

				</div>

			</div>

		</div>
	</div>
</div>


{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>

