<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body class="lang-{{ .Site.Language.Lang }}">

{{ partial "header.html" . }}

<!-- Hero Section -->

{{ $content_parts := split .Content "||ContentBlock||" }}

<div class="hero-random-banner border-bottom">
	<div class="page-image-overlay">
		<div class="hero-info-wrapper">

			<h1 class="hero-info-main">{{ index $content_parts 0 | htmlUnescape | plainify }}</h1>
			<p class="hero-info-subtitle">{{ index $content_parts 1 | htmlUnescape | plainify }}</p>

			<div class="hero-buttons">
				<a href="{{ "/downloads/" | relLangURL }}" type="button" class="btn btn-download btn-lg hero-button-spacer"  role="button" aria-pressed="true">{{ index $content_parts 2 | htmlUnescape | plainify }}</a>
				<a href="{{ "/downloads/shoko-server" | relLangURL }}" type="button" class="btn btn-learn btn-lg"  role="button" aria-pressed="true">{{ index $content_parts 3 | htmlUnescape | plainify }}</a>
			</div>

		</div>
	</div>
</div>

<!-- Features Section-->

<div class="section-wrapper background-color-alt border-bottom">
	<div class="container content-wrapper">

		<div class="row">
			<div class="col-xl-12">

				<h2 class="feature-header">{{ index $content_parts 4 | htmlUnescape | plainify }}</h2>

			</div>
		</div>

		<div class="row">

			{{ $data := index .Site.Data .Site.Language.Lang }}
			{{ if eq (index .Site.Data .Site.Language.Lang) nil }}

				{{ $data = .Site.Data.en }}

			{{ end }}

			{{ range $data.features.featuresList }}

			<div class="col-xl-3 feature-item-wrapper">
				<div class="card-body">

					<div class="feature-icon">
						<i class="{{ .faLink }}"></i>
					</div>

					<h5 class="feature-title">{{ .feature }}</h5>
					<p class="feature-text">{{ .text }}</p>

				</div>
			</div>

			{{ end }}

		</div>

	</div>
</div>

<!-- Blog Section -->

<div class="section-wrapper background-color border-bottom">
	<div class="container content-wrapper">
		<div class="row">

			{{ $pages := .Site.Pages }}
			{{ range .Site.Home.Translations }}
			{{ $pages = $pages | lang.Merge .Site.Pages }}
			{{ end }}

			{{ range first 4 (where $pages "Section" "blog") }}
			{{ if eq .Params.type "post" }}

			<div class="col-xl-4 front-blog-post-wrapper">
				<a href="{{ .Permalink }}">
					<img class="front-blog-post-image" src="{{ .Site.BaseURL   }}{{ .Params.image }}" alt=" {{ .Params.title }}">
					<div class="front-blog-post-image-overlay">
						<p class="front-blog-post-image-text">{{ index $content_parts 5 | htmlUnescape | plainify }}</p>
					</div>
				</a>
				<div class="front-blog-post-info">
					<div class="front-blog-post-date">
						<div class="front-blog-post-date-month">{{ .Date.Format "Jan" }}</div>
						<div class="front-blog-post-date-day">{{ .Date.Format "2" }}</div>
					</div>
					<div class="front-blog-post-header">
						<h3 class="front-blog-post-title">{{ .Params.title }}</h3>
						<div class="front-blog-post-category">

							{{ $taxoCount := 0 }}
							{{ range $name := .Params.category }}
							{{ $name = $name | lower }}

							{{ if gt $taxoCount "0"}}
							<span class="blog-post-divider">|</span>
							<a href="category/{{ $name | urlize }}"> {{ i18n $name }}</a>
							{{ else }}
							<a href="category/{{ $name | urlize }}">{{ i18n $name }}</a>
							{{ end }}

							{{ $taxoCount = add $taxoCount 1 }}

							{{ end }}

						</div>
					</div>
				</div>

				<p class="front-blog-post-summary">{{ .Summary | truncate 215 }}</p>
				<a class="front-blog-post-link" href="{{ .Permalink }}">{{ index $content_parts 5 | htmlUnescape | plainify }}</a>

			</div>

			{{ end }}
			{{ end }}

		</div>
	</div>
</div>

<!-- Info Section 1 -->

<div class="section-wrapper background-color-alt border-bottom">
	<div class="container content-wrapper">
		<div class="row">

			<div class="col-xl-6 info-left-item-wrapper">

				<h2 class="info-header">{{ index $content_parts 6 | htmlUnescape | plainify }}</h2>
				<p>{{ index $content_parts 7 | htmlUnescape | plainify }}</p>
				<h2 class="info-header">{{ index $content_parts 8 | htmlUnescape | plainify }}</h2>
				<p>{{ index $content_parts 9 | htmlUnescape | plainify }}</p>

			</div>
			<div class="col-xl-6 info-right-image-wrapper">
				<a href="{{ "assets/images/programs-plugins/shoko-desktop/Shoko-Desktop-Viewing-Series.jpg" | absURL }}"
				data-toggle="lightbox" data-lightbox="Shoko Desktop - Viewing Series" data-title="Shoko Desktop - Viewing Series">
				<img class="img-fluid info-right-image"
					src="{{ "assets/images/programs-plugins/shoko-desktop/Shoko-Desktop-Viewing-Series.jpg" | absURL }}"
				alt="Shoko Desktop - Viewing Series"></a>
			</div>

		</div>
	</div>
</div>

<!-- Info Section 2 -->

<div class="section-wrapper background-color">
	<div class="container content-wrapper">
		<div class="row">

			<div class="col-xl-6 info-left-image-wrapper">
				<a href="{{ "assets/images/programs-plugins/nakamori/Nakamori-Kover-Series-List.jpg" | absURL }}"
					data-toggle="lightbox" data-lightbox="Shoko Desktop - Viewing Series"
					data-title="Shoko Desktop - Viewing Series"><img class="img-fluid info-left-image"
					src="{{ "assets/images/programs-plugins/nakamori/Nakamori-Kover-Series-List.jpg" | absURL }}"
					alt="Shoko Desktop - Viewing Series"></a>
			</div>

			<div class="col-xl-6 info-right-item-wrapper">

				<h2 class="info-header">{{ index $content_parts 10 | htmlUnescape | plainify }}</h2>
				<p>{{ index $content_parts 11 | htmlUnescape | plainify }}</p>
				<p>{{ index $content_parts 12 | safeHTML }}</p>
				<p>{{ index $content_parts 13 | htmlUnescape | plainify }}</p>

				<div class="media-player-icons">

					<a href="{{ "/downloads/shoko-metadata" | relLangURL }}"><img class="media-player-image" src="{{ "assets/images/media-players/plex.png" | absURL }}" alt="Plex"></a>
					<a href="{{ "/downloads/nakamori" | relLangURL }}"><img class="media-player-image" src="{{ "assets/images/media-players/kodi.png" | absURL }}" alt="Kodi"></a>
					<a href="{{ "/downloads/my-anime-3" | relLangURL }}"><img class="media-player-image" src="{{ "assets/images/media-players/mediaportal.png" | absURL }}" alt="MediaPortal"></a>

				</div>

			</div>

		</div>
	</div>
</div>

{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>