<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body class="lang-{{ .Site.Language.Lang }}">

<!-- Nav -->
{{ partial "header.html" . }}

<!-- Random Banner -->
<div class="random-banner">
	<div class="hero-overlay">
		{{ partial "breadcrumb.html" . }}
	</div>
</div>

<div class="blog-single-wrapper">

	<div class="blog-single-image-wrapper">
		<span class="blog-single-date">{{ .Date.Format "January 2, 2006" }}</span>
		<img class="blog-single-image" src="{{ .Site.BaseURL }}{{ .Params.image }}" alt=" {{ .Params.title }}">
	</div>

	<div class="blog-single-image-anime">
		<span>{{ i18n "image-anime" }} </span>
		<a href="https://anidb.net/search/anime/?adb.search={{ .Params.anime }}" target="_blank" rel="noopener">{{ .Params.anime }}</a>
	</div>

	{{ partial "share.html" . }}

	<div class="blog-single-content">

		{{ .Content }}
	</div>

	{{ if .Params.dev }}
	<div class="blog-single-dev-wrapper">
		{{ range $name := .Params.dev }}

		{{ $data := index $.Site.Data $.Site.Language.Lang }}

		{{ if eq (index $.Site.Data $.Site.Language.Lang) nil }}
		{{ $data = $.Site.Data.en }}
		{{ end }}

		{{ range $data.devs.devList }}

		{{ if eq .name $name }}
		<div class="blog-single-dev-item">
			<a href="https://github.com/{{ .githubLink }}" target="_blank" rel="noopener">
				<img class="blog-single-dev-avatar" src="https://avatars1.githubusercontent.com/u/{{ .githubID }}?s=100">
			</a>
			<div class="blog-single-dev-name">{{ .name }}</div>
		</div>
		{{ end }}

		{{ end }}

		{{ end }}
	</div>
	{{ end }}

	<hr>
	<div class="blog-single-info-wrapper">
		<span class="blog-single-categories">
			{{ $taxoCount := 0 }}
			{{ range $name := .Params.category }}
			{{ $name = $name | lower | urlize }}
			{{ if gt $taxoCount "0"}}
			<span class="post-divider">|</span>
			<a href="{{"blog/category/" | relLangURL }}{{ $name | urlize }}"> {{ i18n $name }}</a>
			{{ else }}
			<a href="{{"blog/category/" | relLangURL }}{{ $name | urlize }}">{{ i18n $name }}</a>
			{{ end }}
			{{ $taxoCount = add $taxoCount 1 }}
			{{ end }}
		</span>
		<span class="blog-single-tags">
			{{ $taxoCount := 0 }}
			{{ range $name := .Params.tag }}
			{{ $name = $name | lower | urlize }}
			{{ if gt $taxoCount "0"}}
			<span class="post-divider">|</span>
			<a href="{{"blog/tag/" | relLangURL }}{{ $name | urlize }}">{{ $name | humanize | title }}</a>
			{{ else }}
			<a href="{{"blog/tag/" | relLangURL }}{{ $name | urlize }}">{{ $name | humanize | title }}</a>
			{{ end }}
			{{ $taxoCount = add $taxoCount 1 }}
			{{ end }}
		</span>
	</div>

</div>


{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>