<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body>

{{ partial "header.html" . }}

<div class="page-image-wrapper border-bottom">
	<img class="blog-post-image" src="{{.Site.BaseURL }}{{ .Params.image }}" alt="{{ .Title }}">
	<div class="page-image-overlay">

		{{ partial "breadcrumb.html" . }}

	</div>
</div>

<div class="blog-post-content-wrapper">
	<div class="row">

		<div class="col-xl-9 blog-post-content">

			{{ .Scratch.Delete "class" }}
			{{ .Scratch.Delete "divider" }}

			<div class="blog-post-info">
				<div class="blog-post-info-left">
					<p>Posted On: <span class="blog-post-date">{{ .Date.Format "January 2, 2006" }}</span></p>
					<p>Banner Anime: <a href="https://anidb.net/anime/?adb.search={{ .Params.anime }}&do.search=1"
						target="_blank">{{ .Params.anime }}</a></p>
				</div>

				<div class="blog-post-info-right">
					{{ .Scratch.Set "type" "category" }}
					{{ .Scratch.Set "class" "blog-post-category-single" }}
					{{ .Scratch.Set "divider" "blog-post-divider" }}
					<p class="blog-post-category">Categories: </p>

					{{ .Scratch.Set "type" "tag" }}
					{{ .Scratch.Set "divider" "blog-post-divider" }}
					<p class="blog-post-tags">Tags: </p>
				</div>

			</div>

			<div class="blog-post">
				{{ .Content }}
			</div>

		</div>

		<div class="col-xl-3 blog-post-side-sticky">

			<div class="blog-post-side-wrapper">
				<p class="blog-post-side-header">Spread The Word</p>
			</div>
			{{ partial "share.html" . }}

			{{ $related := .Site.RegularPages.Related . | first 3 }}
			{{ with $related }}
			<div class="blog-post-side-wrapper">
				<p class="blog-post-side-header">Related Posts</p>
			</div>
			{{ range . }}
			<div class="blog-post-related-wrapper">
				<img class="blog-post-related-image" src="{{.Site.BaseURL }}{{ .Params.image }}" alt="{{ .Title }}">
				<div class="blog-post-related-info">
					<a class="blog-post-related-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
					<p class="blog-post-related-date">{{ .Date.Format "January 2, 2006" }}</p>
				</div>
			</div>
			{{ end }}
			{{ end }}

		</div>

	</div>
</div>

{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>