<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body class="lang-{{ .Site.Language.Lang }}">

<!-- Nav -->
{{ partial "header.html" . }}

<!-- Random Banner -->
<div class="random-banner">
	<div class="hero-overlay">
		{{ partial "breadcrumb.html" . }}
	</div>
</div>

<div class="section-wrapper row">


	<div class="col-xxl-3 col-xl-3 col-lg-3 page-left-section-wrapper">

		{{ partial "downloads-info.html" . }}

	</div>

	<div class="col-xxl-8 col-xl-8 col-lg-8 page-right-section-wrapper">

		<div class="downloads-single-wrapper">

			{{ .Content }}

			<h3>{{ i18n "screenshots" }}</h3>

			{{ $programName := .Params.title }}
			{{ range .Params.images }}
			<a href="https://shokoanime.com/assets/images/programs-plugins/{{ $programName | urlize }}/{{ . }}" class="js-smartPhoto"
			   data-caption="{{ replace (replace . ".jpg" "") "-" " " }}" data-id="{{ . }}" data-group="images">
				<img class="downloads-single-image" src="https://shokoanime.com/assets/images/programs-plugins/{{ $programName | urlize }}/{{ . }}"
				     alt="{{ . }}">
			</a>
			{{ end }}

		</div>

	</div>

</div>

{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>