<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body class="lang-{{ .Site.Language.Lang }}">

<!-- Nav -->
{{ partial "header.html" . }}

<!-- Random Banner -->
<div class="random-banner">
	<div class="hero-overlay">
		{{ partial "breadcrumb.html" . }}
	</div>
</div>

<div class="section-wrapper row">


	{{ range $key, $taxonomy := .Site.Taxonomies.tag }}

	<div class="col-xxl-6 col-sm-12 blog-container">
		<div class="blog-post-wrapper">

			<div class="blog-tax-header">
				<h3>{{ $key | humanize }}</h3>
			</div>

			{{ range first 1 $taxonomy.Pages }}

			<div class="blog-post-image-wrapper">
				<a class="blog-post-link" href="{{ .Permalink }}">
					<span class="blog-post-date">{{ .Date.Format "January 2, 2006" }}</span>
					<img class="blog-post-image" src="{{ .Site.BaseURL }}{{ .Params.image }}" alt=" {{ .Params.title }}">
				</a>
			</div>
			<div class="blog-post-header-wrapper">
				<P class="blog-post-header">{{ .Params.Title }}</P>

				<!-- Category -->
				{{ $taxonomy := "category" }}
				{{ $taxoCount := 0 }}
				{{ with .Param $taxonomy }}

				{{ range $index, $tag := . }}
				{{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
				{{ $name := $tag | urlize | lower }}

				{{ if gt $taxoCount "0"}}
				<a class="blog-post-category" href="/blog/category/{{ $tag | urlize  }}">{{ i18n $name }}</a>
				{{ else }}
				<a class="blog-post-category" href="/blog/category/{{ $tag | urlize  }}">{{ i18n $name }}</a>
				{{ end }}
				{{ $taxoCount = add $taxoCount 1 }}

				{{ end }}
				{{ end }}

				{{ end }}
			</div>
			<hr class="hr1">

			<p>{{ .Summary | truncate 220 }}</p>
			<a class="blog-post-link" href="{{ .Permalink }}">{{ i18n "read-more" }}</a>

			{{ end }}

		</div>
	</div>

	{{ end }}

</div>


{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>