/*
---------------------------------------------
    Table of Contents
---------------------------------------------

    - General
    - Header
        - Page / Post Overlay
        - Breadcrumbs
    - Pages
        - Images
        - Features
    - Blog Index
        - Latest Blog Post
        - Default Blog Post
        - Pagination
    - Singe Post
        - Share Buttons
    - Downloads
        - Accordions
    - Footer
    - Lightbox
    - Temp Rules (Remove once testing is done.)
    - Media Queries
        - 1200px - MAX
        - 1200px - MIN

---------------------------------------------
*/

/*
---------------------------------------------
    General
---------------------------------------------
*/

a {
    font-weight: 600;
}

a:hover {
    color: #dc3545;
    transition: .3s color ease-out;
}

body {
    background-image: url('../images/site/background.png');
    color: #2D2D2D;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 100%;
}

h1 {
    font-size: 34px;
}

h1, h2, h3 {
    color: #006CAB;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.9;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.alert {
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
    display: table;
    width: 100%;
}

.button {
    background-color: #2E406F;
    border: 1px solid #006CAB;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    padding: 15px;
}

.button:hover {
    color: #ffeb3b !important;
}

.background-color-main {
    background-color: #2E406F;
}

.color-link-alt:hover {
    color: #ffeb3b;
}

/*
---------------------------------------------
    Header
---------------------------------------------
*/

.navbar {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    padding: 15px 0;
}

.navbar-brand {
    font-size: 32px;
    font-variant: small-caps;
    font-weight: 600;
    margin-bottom: auto;
    margin-top: auto;
}

.navbar-brand:hover {
    color: #ffeb3b !important;
}

.nav-link {
    color: #FFFFFF !important;
    font-weight: 500;
    padding-left: 10px !important;
}

.nav-link:hover {
    color: #ffeb3b !important;
    text-decoration: underline;
}

/*
---------------------------------------------
    Image Banner
---------------------------------------------
*/

.banner-container {
    background-size: cover;
    height: 400px;
    position: relative;
}

.banner-image {
    display: none;
}

/* Page / Post Overlay */

.page-header {
    background-color: #282a2d;
    bottom: 0;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.page-wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1720px;
    padding: 0 15px;
    width: 100%;
}

.page-header-color {
    color: #007bff;
}

.page-header-second-color {
    color: #FFFFFF;
}

/* Breadcrumbs */

.breadcrumbs {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: auto;
    padding: 45px 0;
}

.breadcrumbs-leading {
    color: #FFFFFF;
}

.breadcrumbs-leading:hover {
    color: #ffeb3b !important;
}

.breadcrumbs-spacer {
    color: #ffeb3b;
    margin: 0 15px;
}

.breadcrumbs-active {
    color: #007bff;
    font-weight: 600;
}

/*
---------------------------------------------
    Pages
---------------------------------------------
*/

.row-spacer {
    padding-bottom: 30px;
}

.section-spacer {
    overflow-x: hidden;
    padding: 60px 15px;
}

/* Images */

.image-container {
    height: 100%;
    max-height: 495px;
    max-width: 830px;
    width: 100%;
    border-radius: 5px;
    border: 5px solid #E6E6E6;
    box-shadow: 2px 2px 2px 1px #282a2d;
}

.image-padding {
    margin-top: auto;
    margin-bottom: auto;
}

.section-header-center {
    margin-top: 0;
    margin-bottom: 60px;
}

.section-header-light {
    color: #FFFFFF;
}

/* Features */

.feature-container {
    color: #FFFFFF;
}

.feature-container:hover {
    color: #ffeb3b;
    cursor: default;
    transition: .3s color ease-out;
}

.feature-title {
    display: table-cell;
    padding: 20px 0 25px 0;
    vertical-align: top;
}

.feature-icon {
    display: table-cell;
    font-size: 40px;
    padding-right: 30px;
    vertical-align: top;
}

/*
---------------------------------------------
    Blog Index
---------------------------------------------
*/

/* Latest Blog Post*/

.blog-latest {
    background-color: #2E406F;
    color: #FFFFFF;
    margin-bottom: 30px;
    width: 100%;
}

.blog-latest-image {
    height: 100%;
    max-height: 390px;
    max-width: 845px;
    width: 100%;
}

.blog-latest-date {
    color: #FFFFFF !important;
    font-weight: 600;
    margin-left: auto;
}

.blog-latest-cat {
    color: #FFFFFF;
    padding-right: 2px;
    text-decoration: underline;
}

.blog-latest-title {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}

.blog-latest-hr {
    border-top: 1px solid #FFFFFF;
}

.blog-latest-readmore {
    color: #FFFFFF;
    font-weight: 600;
}

/* Default Blog Post */

.blog {
    height: 100%;
    max-height: 550px;
    max-width: 408px;
    width: 100%;
}

.blog-image {
    height: 180px;
    max-width: 408px;
    width: 100%;
}

.blog-date {
    color: #006cab;
    font-weight: 600;
    margin-left: auto;
}

.blog-cat {
    padding-right: 2px;
    text-decoration: underline;
}

.blog-title {
    color: #006CAB;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}

.blog-hr {
    border-top: 1px solid #E6E6E6;
}

.blog-readmore {
    font-weight: 600;
}

/* Pagination */

.pagination-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.pagination-previous, .pagination-next {
    display: inline;
    list-style: none;
    margin: 0 10px;
    text-align: center;
}

.pagination-previous > a, .pagination-next > a {
    color: #FFFFFF;
}

.pagination-previous > a:hover, .pagination-next > a:hover {
    color: #ffeb3b;
}

/*
---------------------------------------------
    Single Post
---------------------------------------------
*/

.blog-post-container {
    border: 1px solid rgba(0, 0, 0, .125);
}

.blog-post-header-image {
    max-height: 500px;
    max-width: 1280px;
    height: 100%;
    width: 100%;
}

.blog-post-image {
    border-radius: 5px;
    border: 5px solid #E6E6E6;
    box-shadow: 2px 2px 2px 1px #282a2d;
    max-height: 500px;
    max-width: 600px;
    margin: 10px 0 20px 0;
    height: 100%;
    width: 100%;
}

.blog-post {
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    max-width: 1280px;
    padding: 40px;
    width: 100%;
}

.blog-sidebar {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 40px;
    padding: 20px;
}

.blog-sidebar-header {
    color: #006CAB;
    margin: 0 0 10px 0;
}

.blog-cat-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.blog-cat-tags {
    font-size: 12px;
    padding: 10px;
    margin: 4px 8px 4px 0;
    max-width: 140px;
    text-align: center;
    width: auto;
}

.blog-link {
    font-weight: 600;
}

.blog-link:hover {
    color: #dc3545 !important;
}

/* Share Buttons */

.share-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.share-box {
    height: 55px;
    margin: 4px 8px 4px 0;
    padding: 15px 13px;
    text-align: center;
    transition: all 0.3s ease;
    width: 50px !important;
}

.share-box:hover {
    background-color: #282a2d;
    color: #ffeb3b !important;
}

.share-icon-size {
    font-size: 26px;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.reddit {
    background: #ff4500;
    color: white;
}

.email {
    background: #444444;
    color: white;
}

/*
---------------------------------------------
    Downloads
---------------------------------------------
*/

.downloads-list > .nav-link {
    color: #2D2D2D !important;
    font-weight: 600;
    text-transform: none;
}

.downloads-list > .nav-link:hover {
    color: #dc3545 !important;
}

.downloads-list > .nav-link.active {
    background-color: #2E406F;
    color: #ffeb3b !important;
    font-weight: 600;
}

.downloads-wrapper {
    height: 100%;
    max-height: 1314px;
}

.downloads-header-wrapper {
    display: flex;
    flex-direction: row;
}

.downloads-header {
    margin: 0;
}

.downloads-left-info-wrapper {
    display: flex;
    flex-direction: column;
}

.downloads-right-info-wrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 12px;
}

.downloads-right-info-header {
    font-weight: 600;
}

.download-links {
    margin-top: 1rem;
}

.downloads-table {
    margin-top: 15px;
}

/* Accordions */

.downloads-accordion-card {
    border: 1px solid #f1f2f3 !important;
    background-color: #f9fafb !important;
}

.downloads-accordion-header {
    padding: 0;
}

.downloads-accordion-header > h5 {
    margin: 0;
    padding: 3px 0;
}

.btn.btn-link.downloads-accordion-button:before {
    border-left: 1px solid #757575;
    border-top: 1px solid #757575;
    content: '';
    display: inline-block;
    height: 6px;
    margin-right: 20px;
    margin-top: 7px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: .2s linear;
    -webkit-transition: .2s linear;
    width: 6px;
}

.btn.btn-link.downloads-accordion-button.collapsed:before {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.downloads-accordion-button {
    display: flex;
    font-weight: 500;
    width: 100%;
}

.downloads-accordion-button:hover {
    color: #dc3545;
    transition: .3s color ease-out;
}

.downloads-status {
    margin-left: auto;
    padding-bottom: 2px;
    padding-left: 10px;
}

/* Features */

.downloads-features-body {
    color: #2D2D2D;
    padding: 0;
}

.downloads-features-body:hover {
    color: #dc3545;
    transition: .3s color ease-out;
}

/*
---------------------------------------------
    Footer
---------------------------------------------
*/

.footer {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    display: flex;
    height: 90px;
    width: 100%;
}

.footer-copyright {
    font-weight: 500;
    margin-top: 0;
    padding-top: 35px;
}

.footer-links {
    color: #FFFFFF;
    font-weight: 500;
    margin-left: auto;
    margin-top: 35px;
    padding-left: 15px;
}

.footer-links > a:hover {
    color: #ffeb3b;
}

/*
---------------------------------------------
    Lightbox
---------------------------------------------
*/

html.lb-disable-scrolling {
    overflow: hidden;
    /* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;

    /* Image border */
    border: 4px solid white;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;

    /* Background color behind image.
       This is visible during transitions. */
    background-color: white;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/site/loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../images/site/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../images/site/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-caption a {
    color: #4ae;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/site/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/*
----------------------------------------
Temp Rules
----------------------------------------
*/

.alert-temp {
    margin-top: 2rem;
    width: 100%;
}

.alert-header {
    display: flex;
}

.alert-header > i {
    font-size: 36px;
}

.alert-heading {
    margin: 5px 0 0 10px;
}

.alert-importance {
    text-decoration: underline;
}

.alert-link {
    color: #007bff !important;
}

.alert-link:hover {
    color: #dc3545 !important;
}


/*
---------------------------------------------
    Media Queries
---------------------------------------------
*/

/* 1200px - MAX  */

@media (max-width: 1199px) {

    .footer-copyright {
        margin: 0 auto;
    }

    .footer-links {
        display: none;
    }

}

/* 1200px - MIN */

@media (min-width: 1200px) {

    .container {
        max-width: 1720px;
    }

}
