	{{ if eq .platform "Windows / Linux / Arm64" }}

	{{ range .downloads }}
	<div class="downloads-platform-item">
		<a href="{{ .windowsStable }}">
			<div class="downloads-platform-rectangle">
				<i class="downloads-platform-icon fab fa-windows fa-lg"></i>
				<p class="downloads-platform-name">Windows {{ i18n "stable" }}</p>
			</div>
		</a>
	</div>
	<div class="downloads-platform-item">
		<a href="{{ .windowsDaily }}">
			<div class="downloads-platform-rectangle"><i class="downloads-platform-icon fab fa-windows fa-lg"></i>
				<p class="downloads-platform-name">Windows {{ i18n "daily" }}</p>
			</div>
		</a>
	</div>
	<div class="downloads-platform-item">
		<a href="{{ .linuxStable }}" target="_blank" rel="noopener">
			<div class="downloads-platform-rectangle"><i class="downloads-platform-icon fab fa-linux fa-lg"></i>
				<p class="downloads-platform-name">Linux {{ i18n "stable" }}</p>
			</div>
		</a>
	</div>
	<div class="downloads-platform-item">
		<a href="{{ .linuxDaily }}" target="_blank" rel="noopener">
			<div class="downloads-platform-rectangle"><i class="downloads-platform-icon fab fa-linux fa-lg"></i>
				<p class="downloads-platform-name">Linux {{ i18n "daily" }}</p>
			</div>
		</a>
	</div>
	<div class="downloads-platform-item">
		<a href="{{ .Arm64Linux }}" target="_blank" rel="noopener">
			<div class="downloads-platform-rectangle"><i class="downloads-platform-icon fa-solid fa-microchip fa-lg"></i>
				<p class="downloads-platform-name">Arm64 Linux Stable</p>
			</div>
		</a>
	</div>
	<div class="downloads-platform-item">
		<a href="{{ .Arm64Daily }}" target="_blank" rel="noopener">
			<div class="downloads-platform-rectangle"><i class="downloads-platform-icon fa-solid fa-microchip fa-lg"></i>
				<p class="downloads-platform-name">Arm64 Linux Daily</p>
			</div>
		</a>
	</div>
	{{ end }}

	{{ else if eq .platform "Windows" }}

	{{ range .downloads }}
	<div class="downloads-platform-item">
		<a href="{{ .windowsStable }}">
			<div class="downloads-platform-rectangle">
				<i class="downloads-platform-icon fab fa-windows fa-lg"></i>
				<p class="downloads-platform-name">Windows {{ i18n "stable" }}</p>
			</div>
		</a>
	</div>
	<div class="downloads-platform-item">
		<a href="{{ .windowsDaily }}">
			<div class="downloads-platform-rectangle">
				<i class="downloads-platform-icon fab fa-windows fa-lg"></i>
				<p class="downloads-platform-name">Windows {{ i18n "daily" }}</p>
			</div>
		</a>
	</div>
	{{ end }}

	{{ else if eq .platform "Kodi" }}

	{{ range .downloads }}
	<div class="downloads-platform-item">
		<a href="{{ .kodiStable }}" target="_blank" rel="noopener">
			<div class="downloads-platform-rectangle">
				<i class="downloads-platform-icon fas fa-download fa-lg"></i>
				<p class="downloads-platform-name">Nakamori {{ i18n "stable" }}</p>
			</div>
		</a>
	</div>
	{{ end }}

	{{ else if eq .platform "Media Portal" }}

	{{ range .downloads }}
	<div class="downloads-platform-item">
		<a href="{{ .mediaPortalStable }}">
			<div class="downloads-platform-rectangle">
				<i class="downloads-platform-icon fas fa-download fa-lg"></i>
				<p class="downloads-platform-name">Media Portal {{ i18n "stable" }}</p>
			</div>
		</a>
	</div>
	{{ end }}

	{{ else if eq .platform "Plex" }}

	{{ range .downloads }}
	<div class="downloads-platform-item">
		<a href="{{ .plexStable }}" target="_blank" rel="noopener">
			<div class="downloads-platform-rectangle">
				<i class="downloads-platform-icon fas fa-download fa-lg"></i>
				<p class="downloads-platform-name">Shoko Metadata {{ i18n "stable" }}</p>
			</div>
		</a>
	</div>
	{{ end }}

	{{ else if eq .platform "Jellyfin" }}

	{{ range .downloads }}
	<div class="downloads-platform-item">
		<a href="{{ .jellyfinStable }}" target="_blank" rel="noopener">
			<div class="downloads-platform-rectangle">
				<i class="downloads-platform-icon fas fa-download fa-lg"></i>
				<p class="downloads-platform-name">Shokofin {{ i18n "stable" }}</p>
			</div>
		</a>
	</div>
	{{ end }}

{{ end }}