{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if eq (index .Site.Data .Site.Language.Lang) nil }}
{{ $data = .Site.Data.en }}
{{ end }}

{{ $program := $.Params.title }}
{{ range $data.programs.programList }}
{{ if eq .name $program }}

<!-- Details -->

<div class="downloads-single-link-list">
	<p class="page-item-header">{{ i18n "details" }}</p>
	<hr>
		<span class="downloads-single-item">{{ i18n "version" }} {{ .version }}</span>
		<span class="downloads-single-item"></span>
		<span class="downloads-single-item">{{ .release }}</span>
		<span class="downloads-single-item">{{ .platform }}</span>
</div>


<!-- Resources -->
{{ range .resources }}

<div class="downloads-single-link-list">
	<p class="page-item-header">{{ i18n "resources" }}</p>
	<hr>
	<a class="downloads-single-item-link" href="{{ .github }}">{{ i18n "github" }}</a>
	<a class="downloads-single-item-link" href="{{ .docs }}">{{ i18n "documentation" }}</a>
	<a class="downloads-single-item-link" href="{{ .changelog }}">{{ i18n "changelog" }}</a>
	<a class="downloads-single-item-link" href="{{ .support }}">{{ i18n "support" }}</a>
</div>

{{ end }}

<!-- Downloads -->
<p class="page-item-header">{{ i18n "download" }}</p>
<hr>
<div class="downloads-single-platform-wrapper">
	{{ partial "downloads-link.html" . }}
</div>

{{ end }}
{{ end }}