{{ $fileDir := replace $.Page.File.Dir "\\" "/" }}
{{ $fileName := $.Page.File.BaseFileName}}
{{ $fileLocation := print $fileDir $fileName ".md"}}

<div class="navbar-wrapper">

		<nav class="navbar navbar-expand-lg navbar-info">
			<a class="navbar-title" href="/"><h2>{{ .Site.Title }}</h2></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMobile"
			        aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarMobile">
				<div class="navbar-nav navbar-links-wrapper">
					{{ .Scratch.Set "extended-nav" true }}
					{{ partial "nav.html" . }}
				</div>

			</div>
		</nav>

</div>
