<div class="navbar-nav ">
	<a class="sidenav-close" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<a class="nav-link" href="{{ "about" | relLangURL }}">{{ i18n "about" }}</a>
	<a class="nav-link" href="{{ "blog" | relLangURL }}">{{ i18n "blog" }}</a>
	<a class="nav-link" href="https://docs.shokoanime.com/changelog/">{{ i18n "changelog" }}</a>
	<a class="nav-link" href="{{ "downloads" | relLangURL }}">{{ i18n "downloads" }}</a>
	<a class="nav-link" href="https://docs.shokoanime.com/" target="_blank">{{ i18n "documentation" }}</a>
	<a class="nav-link" href="https://github.com/shokoanime" target="_blank">{{ i18n "github" }}</a>
	<a class="nav-link" href="https://discord.gg/vpeHDsg" target="_blank">{{ i18n "support" }}</a>
</div>

{{ if eq (.Scratch.Get "extended-nav") true }}
<div class="navbar-right-wrapper">
	<i class="fas fa-sun navbar-theme" id="themeSwitcher"></i>

	<i class="fas fa-language fa-lg navbar-language" id="dropdownMenuButton" data-toggle="dropdown"></i>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		{{ range .AllTranslations }}
		<a class="dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
		{{ end }}
		<a class="dropdown-item" href="{{ "translate" | relLangURL }}">Translate</a>
	</div>

	<i class="fas fa-search navbar-search" onclick="searchBox()"></i>
	<form name="cse" id="searchbox" action="/search/" method="get">
		<input type="hidden" name="cx" value="000649133662658939805:7nv0dx66q_4"/>
		<input type="hidden" name="ie" value="utf-8"/>
		<input type="hidden" name="hl" value="en"/>
		<input name="q" type="text" class="search-input" autocomplete="off" placeholder="Search ShokoDocs..."/>
	</form>

{{ end }}

<div class="sidenav-right-wrapper">
	<hr>
	<div class="sidenav-right-links">
		<span class="navbar-theme" id="mobileThemeSwitcher">Dark Theme</span>
		<a class="navbar-search" href="{{ "search" | relLangURL }}">Search</a>
	</div>
	<hr>
	<div class="sidenav-right-languages">
		{{ range .AllTranslations }}
		<a class="dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
		{{ end }}
		<a href="{{ "translate" | relLangURL }}">Translate</a>
	</div>
</div>