<a class="navbar-link navbar-nav-link" href="link">About</a>
<a class="navbar-link navbar-nav-link" href="blog">Blog</a>
<a class="navbar-link navbar-nav-link" href="link">Changelog</a>
<a class="navbar-link navbar-nav-link" href="link">Downloads</a>
<a class="navbar-link navbar-nav-link" href="link">Programs</a>
<a class="navbar-link navbar-nav-link" href="https://docs.shokoanime.com/" target="_blank">Documentation</a>
<a class="navbar-link navbar-nav-link" href="https://github.com/shokoanime" target="_blank">Github</a>
<a class="navbar-link navbar-nav-link" href="https://discord.gg/vpeHDsg" target="_blank">Support</a>

{{ if eq (.Scratch.Get "extended-nav") true }}
<span class="nav-divider">|</span>
<div class="theme-icon">
	<i class="fas fa-sun" id="themeSwitcher"></i>
</div>
{{ end }}