<div class="blog-single-share-wrapper">
	<div class="blog-single-share-links">
		<span class="blog-single-share-header">Share</span>

		<a href="//twitter.com/share?text={{ .Title }}&amp;url={{ .Permalink }}" target="_blank" rel="noopener">
			<i class="blog-single-share-link fab fa-twitter fa-lg"></i>
		</a>

		<a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener">
			<i class="blog-single-share-link fab fa-facebook fa-lg"></i>
		</a>

		<a href="//www.reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" rel="noopener">
			<i class="blog-single-share-link fab fa-reddit-alien fa-lg"></i>
		</a>

		<a href="//www.pinterest.com/pin/create/button/?url={{ .Permalink }}&amp;description={{ .Title }}" target="_blank"
		   rel="noopener">
			<i class="blog-single-share-link fab fa-pinterest-p fa-lg"></i>
		</a>

		<a href="mailto:?subject={{ .Title }} | Shoko Anime&amp;body={{ .Permalink }}" target="_blank" data-proofer-ignore>
			<i class="blog-single-share-link fas fa-envelope fa-lg"></i>
		</a>

	</div>
</div>