{{ $sideNav := .Scratch.Get "sidenav" }}

{{ if eq $sideNav "download" }}

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if eq (index .Site.Data .Site.Language.Lang) nil }}
{{ $data = .Site.Data.en }}
{{ end }}

{{ $program := $.Params.title }}
{{ range $data.programs.programList }}
{{ if eq .name $program }}

<!-- Details -->
<span class="side-nav-header-indicator"></span>
<h5 class="side-nav-header">{{ i18n "details" }}</h5>
<hr class="side-nav-hr">

<div class="side-group-wrapper">

	<div class="side-item-single">
		<span class="single-item-name">{{ i18n "version" }}</span>
		<span class="single-item-count">{{ .version }}</span>
	</div>

	<div class="side-item-single">
		<span class="single-item-name">{{ i18n "release" }}</span>
		<span class="single-item-count">{{ .release }}</span>
	</div>

	<div class="side-item-single">
		<span class="single-item-name">{{ i18n "platform" }}</span>
		<span class="single-item-count">{{ .platform }}</span>
	</div>

</div>

<!-- Downloads -->
<span class="side-nav-header-indicator"></span>
<h5 class="side-nav-header">{{ i18n "downloads" }}</h5>
<hr class="side-nav-hr">

<div class="side-group-wrapper">

	{{ if eq .platform "Windows / Linux" }}
	{{ range .downloads }}

	<div class="side-item-single">
		<a class="single-item-link" href="{{ .windowsStable }}">{{ i18n "stable" }}</a>
		<span class="single-item-count">{{ i18n "windows" }}</span>
	</div>
	<div class="side-item-single">
		<a class="single-item-link" href="{{ .linuxDocker }}">{{ i18n "stable" }}</a>
		<span class="single-item-count">{{ i18n "linux" }}</span>
	</div>
	<div class="side-item-single">
		<a class="single-item-link" href="{{ .windowsDaily }}">{{ i18n "daily" }}</a>
		<span class="single-item-count">{{ i18n "windows" }}</span>
	</div>

	{{ end }}
	{{ else if eq .platform "Windows" }}
	{{ range .downloads }}

	<div class="side-item-single">
		<a class="single-item-link" href="{{ .windowsStable }}">{{ i18n "stable" }}</a>
		<span class="single-item-count">{{ i18n "windows" }}</span>
	</div>
	<div class="side-item-single">
		<a class="single-item-link" href="{{ .windowsDaily }}">{{ i18n "daily" }}</a>
		<span class="single-item-count">{{ i18n "windows" }}</span>
	</div>

	{{ end }}
	{{ else if eq .platform "Kodi" }}
	{{ range .downloads }}

	<div class="side-item-single">
		<a class="single-item-link" href="{{ .kodiStable }}">{{ i18n "stable" }}</a>
		<span class="single-item-count">Kodi</span>
	</div>

	{{ end }}
	{{ else if eq .platform "Media Portal" }}
	{{ range .downloads }}

	<div class="side-item-single">
		<a class="single-item-link" href="{{ .mediaPortalStable }}">{{ i18n "stable" }}</a>
		<span class="single-item-count">Media Portal</span>
	</div>

	{{ end }}
	{{ else if eq .platform "Plex" }}
	{{ range .downloads }}

	<div class="side-item-single">
		<a class="single-item-link" href="{{ .plexStable }}">{{ i18n "stable" }}</a>
		<span class="single-item-count">Plex</span>
	</div>

	{{ end }}
	{{ end }}

</div>

<!-- Resources -->
<span class="side-nav-header-indicator"></span>
<h5 class="side-nav-header">{{ i18n "resources" }}</h5>
<hr class="side-nav-hr">
<div class="side-group-wrapper">

	{{ range .resources }}
	<div class="side-item-single">
		<a class="single-item-link" href="{{ .github }}">{{ i18n "github" }}</a>
	</div>
	<div class="side-item-single">
		<a class="single-item-link" href="{{ .docs }}">{{ i18n "documentation" }}</a>
	</div>
	<div class="side-item-single">
		<a class="single-item-link" href="{{ .changelog }}">{{ i18n "changelog" }}</a>
	</div>
	<div class="side-item-single">
		<a class="single-item-link" href="{{ .support }}">{{ i18n "support" }}</a>
	</div>
	{{ end }}

</div>

{{ end }}
{{ end }}

{{ end }}

{{ if eq $sideNav "blog" }}

<!-- Share -->
<span class="side-nav-header-indicator"></span>
<h5 class="side-nav-header">{{ i18n "share" }}</h5>
<hr class="side-nav-hr">
{{ partial "share.html" . }}

<!-- Categories -->
<span class="side-nav-header-indicator"></span>
<h5 class="side-nav-header">{{ i18n "categories" }}</h5>
<hr class="side-nav-hr">
<div class="side-group-wrapper">

	{{ range $name, $items := .Site.Taxonomies.category }}
	<div class="side-item-single">
		<a class="single-item-link" href="{{ "/blog/category/" | relLangURL }}{{ $name | urlize }}">{{ i18n $name }}</a>
		<span class="single-item-count">{{ len $items }}</span>
	</div>
	{{ end }}

</div>

<!-- Tags -->
<h5 class="side-nav-header">{{ i18n "tags" }}</h5>
<hr class="side-nav-hr">
<div class="side-group-wrapper">

	{{ range $name, $items := .Site.Taxonomies.tag }}
	<div class="side-item-single">
		<a class="single-item-link" href="{{ "/blog/tag/" | relLangURL }}{{ $name | urlize }}">{{ i18n $name }}</a>
		<span class="single-item-count">{{ len $items }}</span>
	</div>
	{{ end }}

</div>

<!-- Translation -->
<h5 class="side-nav-header">{{ i18n "translation" }}</h5>
<hr class="side-nav-hr">
<div class="side-group-wrapper">

	{{ if .IsTranslated }}
	{{ range .Translations }}
	<div class="side-item-single">
		<a class="single-item-link" href="{{ .Permalink }}">{{ .Title }}</a>
		<span class="single-item-count">{{ .Lang | upper }}</span>
	</div>
	{{ end }}
	{{ end }}

</div>

{{ end }}

