<!DOCTYPE html>
<html lang="en">
	{{ partial "head.html" . }}

	<body class="lang-{{ .Site.Language.Lang }}">
        
		<!-- Nav -->
		{{ partial "header.html" . }}

		<!-- Random Banner -->
		<div class="random-banner">
			<div class="hero-overlay">{{ partial "breadcrumb.html" . }}</div>
		</div>

		<div class="section-wrapper row">
			<h1>{{ .Page.Title }}</h1>
			<p class="lead">Hmm, looks like the page you were looking for has either been moved or the URL is incorrect.</p>

			<hr class="my-6" />

			<h2>Sorry About That!</h2>
			<p>
				Please use the <strong>Main Menu</strong> located <strong>above</strong> to find the page you were originally
				looking for.
			</p>
			<p>
				If you accessed this link in Shoko, please <strong>let us know</strong> so we can fix it to prevent this from
				happening in future versions.
			</p>

			<iframe
				src="https://discord.com/widget?id=96234011612958720&theme=dark"
				width="350"
				height="500"
				allowtransparency="true"
				frameborder="0"
				sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
			></iframe>
		</div>

		{{ partial "footer.html" . }} 
        {{ partial "scripts.html" . }}

	</body>
</html>
