<!DOCTYPE html>
<html lang = "en">
<head>
	{% include _head.html %}
</head>

<body>

{% include _navbar.html %}
{% include _banner.html %}

<!-- Post Content -->

<div class = "container section-spacer">

	<div class = "row">
		<div class = "col-xl-9">

			<div class = "blog-post-container shadow">
				<img class = "blog-post-header-image shadow" src = "{{ page.image | absolute_url }}">
				<div class = "blog-post">

					{{ content }}

				</div>
			</div>
		</div>

		<div class = "col-xl-3">
			<div class = "blog-sidebar shadow">

				<h5 class = "blog-sidebar-header">Posted On {{ page.date | date: '%B %d, %Y' }}</h5>
				<hr>
				<h5 class = "blog-sidebar-header">Categories</h5>

				<div class = "blog-cat-tags-wrapper">
					{% for category in page.categories %}

					<a class = "blog-cat-tags button" href="/category/{{ category | downcase }}">{{ category }}</a>

					{% endfor %}
				</div>

				<hr>
				<h5 class = "blog-sidebar-header">Tags</h5>
				<div class = "blog-cat-tags-wrapper">
					{% for tags in page.tags %}

					<a class = "blog-cat-tags button" href="/tag/{{ tags | downcase | replace: ' ', '-' }}">{{ tags }}</a>

					{% endfor %}
				</div>
			</div>

			<div class = "blog-sidebar shadow">

				{% include _share.html %}

			</div>

		</div>

	</div>
</div>

{% include _footer.html %}
{% include _scripts_include.html %}

</body>
</html>